interactions:
- request:
    body: '{"name": "Goblin", "entry": "<p>Lorem Ipsum.</p>", "tags": [], "is_private":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://kanka.io/api/1.0/campaigns/1/races/
  response:
    body:
      string: '{"data":{"id":199055,"name":"Goblin","entry":"<p>Lorem Ipsum.<\/p>","entry_parsed":"<p>Lorem
        Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/races_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2240094,"tags":[],"created_at":"2021-10-15T12:58:23.000000Z","created_by":88716,"updated_at":"2021-10-15T12:58:23.000000Z","updated_by":88716,"type":null,"race_id":null}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '42'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/races/
      x-varnish-host:
      - hzn-fre1
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/2240094
  response:
    body:
      string: '{"data":{"id":2240094,"name":"Goblin","type":"race","child_id":199055,"tags":[],"is_private":true,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2021-10-15T12:58:23.000000Z","created_by":88716,"updated_at":"2021-10-15T12:58:23.000000Z","updated_by":88716,"child":{"id":199055,"name":"Goblin","entry":"<p>Lorem
        Ipsum.<\/p>","entry_parsed":"<p>Lorem Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/races_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2240094,"tags":[],"created_at":"2021-10-15T12:58:23.000000Z","created_by":88716,"updated_at":"2021-10-15T12:58:23.000000Z","updated_by":88716,"type":null,"race_id":null}}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '41'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/entities/2240094
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/races/199055
  response:
    body:
      string: '{"data":{"id":199055,"name":"Goblin","entry":"<p>Lorem Ipsum.<\/p>","entry_parsed":"<p>Lorem
        Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/races_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2240094,"tags":[],"created_at":"2021-10-15T12:58:23.000000Z","created_by":88716,"updated_at":"2021-10-15T12:58:23.000000Z","updated_by":88716,"type":null,"race_id":null}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '40'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/races/199055
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://kanka.io/api/1.0/campaigns/1/races/199055
  response:
    body:
      string: ''
    headers:
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '34'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/races/199055
      x-varnish-host:
      - hzn-fre1
    status:
      code: 204
      message: No Content
version: 1
