interactions:
- request:
    body: '{"name": "Session 2 - Descent into the Abyss", "entry": "<p>Lorem Ipsum</p>",
      "type": "Session", "date": "2017-11-02", "tags": [], "is_private": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://kanka.io/api/1.0/campaigns/1/journals/
  response:
    body:
      string: '{"data":{"id":41342,"name":"Session 2 - Descent into the Abyss","entry":"<p>Lorem
        Ipsum<\/p>","entry_parsed":"<p>Lorem Ipsum<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/journals_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2240091,"tags":[],"created_at":"2021-10-15T12:57:47.000000Z","created_by":88716,"updated_at":"2021-10-15T12:57:47.000000Z","updated_by":88716,"location_id":null,"character_id":null,"journal_id":null,"date":"2017-11-02","type":"Session","calendar_id":null,"calendar_year":null,"calendar_month":null,"calendar_day":null}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '11'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/journals/
      x-varnish-host:
      - hzn-fre1
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/2240091
  response:
    body:
      string: '{"data":{"id":2240091,"name":"Session 2 - Descent into the Abyss","type":"journal","child_id":41342,"tags":[],"is_private":true,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2021-10-15T12:57:47.000000Z","created_by":88716,"updated_at":"2021-10-15T12:57:47.000000Z","updated_by":88716,"child":{"id":41342,"name":"Session
        2 - Descent into the Abyss","entry":"<p>Lorem Ipsum<\/p>","entry_parsed":"<p>Lorem
        Ipsum<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/journals_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2240091,"tags":[],"created_at":"2021-10-15T12:57:47.000000Z","created_by":88716,"updated_at":"2021-10-15T12:57:47.000000Z","updated_by":88716,"location_id":null,"character_id":null,"journal_id":null,"date":"2017-11-02","type":"Session","calendar_id":null,"calendar_year":null,"calendar_month":null,"calendar_day":null}}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '10'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/entities/2240091
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/journals/41342
  response:
    body:
      string: '{"data":{"id":41342,"name":"Session 2 - Descent into the Abyss","entry":"<p>Lorem
        Ipsum<\/p>","entry_parsed":"<p>Lorem Ipsum<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/journals_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2240091,"tags":[],"created_at":"2021-10-15T12:57:47.000000Z","created_by":88716,"updated_at":"2021-10-15T12:57:47.000000Z","updated_by":88716,"location_id":null,"character_id":null,"journal_id":null,"date":"2017-11-02","type":"Session","calendar_id":null,"calendar_year":null,"calendar_month":null,"calendar_day":null}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '9'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/journals/41342
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://kanka.io/api/1.0/campaigns/1/journals/41342
  response:
    body:
      string: ''
    headers:
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '3'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/journals/41342
      x-varnish-host:
      - hzn-fre1
    status:
      code: 204
      message: No Content
version: 1
