interactions:
- request:
    body: '{"name": "Tiamat Cultists", "entry": "<p>Lorem Ipsum.</p>", "type": "Kingdom",
      "tags": [], "is_private": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://kanka.io/api/1.0/campaigns/1/organisations/
  response:
    body:
      string: '{"data":{"id":114916,"name":"Tiamat Cultists","entry":"<p>Lorem Ipsum.<\/p>","entry_parsed":"<p>Lorem
        Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/organisations_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2239133,"tags":[],"created_at":"2021-10-14T23:44:49.000000Z","created_by":88716,"updated_at":"2021-10-14T23:44:49.000000Z","updated_by":88716,"location_id":null,"type":"Kingdom","organisation_id":null,"members":[]}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '62'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/organisations/
      x-varnish-host:
      - hzn-fre1
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/2239133
  response:
    body:
      string: '{"data":{"id":2239133,"name":"Tiamat Cultists","type":"organisation","child_id":114916,"tags":[],"is_private":true,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2021-10-14T23:44:49.000000Z","created_by":88716,"updated_at":"2021-10-14T23:44:49.000000Z","updated_by":88716,"child":{"id":114916,"name":"Tiamat
        Cultists","entry":"<p>Lorem Ipsum.<\/p>","entry_parsed":"<p>Lorem Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/organisations_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2239133,"tags":[],"created_at":"2021-10-14T23:44:49.000000Z","created_by":88716,"updated_at":"2021-10-14T23:44:49.000000Z","updated_by":88716,"location_id":null,"type":"Kingdom","organisation_id":null,"members":[]}}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '61'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/entities/2239133
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/organisations/114916
  response:
    body:
      string: '{"data":{"id":114916,"name":"Tiamat Cultists","entry":"<p>Lorem Ipsum.<\/p>","entry_parsed":"<p>Lorem
        Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/organisations_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2239133,"tags":[],"created_at":"2021-10-14T23:44:49.000000Z","created_by":88716,"updated_at":"2021-10-14T23:44:49.000000Z","updated_by":88716,"location_id":null,"type":"Kingdom","organisation_id":null,"members":[]}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '60'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/organisations/114916
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://kanka.io/api/1.0/campaigns/1/organisations/114916
  response:
    body:
      string: ''
    headers:
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '54'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/organisations/114916
      x-varnish-host:
      - hzn-fre1
    status:
      code: 204
      message: No Content
version: 1
