interactions:
- request:
    body: '{"name": "Thaelian Timeline", "entry": "<p>Lorem Ipsum</p>", "type": "Primary",
      "revert_order": false, "tags": [], "is_private": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://kanka.io/api/1.0/campaigns/1/timelines/
  response:
    body:
      string: '{"data":{"id":7973,"name":"Thaelian Timeline","entry":"<p>Lorem Ipsum<\/p>","entry_parsed":"<p>Lorem
        Ipsum<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/timelines_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":false,"is_template":false,"entity_id":2240129,"tags":[],"created_at":"2021-10-15T13:24:21.000000Z","created_by":88716,"updated_at":"2021-10-15T13:24:21.000000Z","updated_by":88716,"type":"Primary","timeline_id":null,"eras":[],"revert_order":0}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '89'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/timelines/
      x-varnish-host:
      - hzn-fre1
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/2240129
  response:
    body:
      string: '{"data":{"id":2240129,"name":"Thaelian Timeline","type":"timeline","child_id":7973,"tags":[],"is_private":false,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2021-10-15T13:24:21.000000Z","created_by":88716,"updated_at":"2021-10-15T13:24:21.000000Z","updated_by":88716,"child":{"id":7973,"name":"Thaelian
        Timeline","entry":"<p>Lorem Ipsum<\/p>","entry_parsed":"<p>Lorem Ipsum<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/timelines_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":false,"is_template":false,"entity_id":2240129,"tags":[],"created_at":"2021-10-15T13:24:21.000000Z","created_by":88716,"updated_at":"2021-10-15T13:24:21.000000Z","updated_by":88716,"type":"Primary","timeline_id":null,"eras":[],"revert_order":0}}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '88'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/entities/2240129
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/timelines/7973
  response:
    body:
      string: '{"data":{"id":7973,"name":"Thaelian Timeline","entry":"<p>Lorem Ipsum<\/p>","entry_parsed":"<p>Lorem
        Ipsum<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/timelines_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":false,"is_template":false,"entity_id":2240129,"tags":[],"created_at":"2021-10-15T13:24:21.000000Z","created_by":88716,"updated_at":"2021-10-15T13:24:21.000000Z","updated_by":88716,"type":"Primary","timeline_id":null,"eras":[],"revert_order":0}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '87'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/timelines/7973
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://kanka.io/api/1.0/campaigns/1/timelines/7973
  response:
    body:
      string: ''
    headers:
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '81'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/timelines/7973
      x-varnish-host:
      - hzn-fre1
    status:
      code: 204
      message: No Content
version: 1
