interactions:
- request:
    body: '{"name": "Adams", "entry": "<p>Lorem Ipsum.</p>", "tags": [], "is_private":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://kanka.io/api/1.0/campaigns/1/families/
  response:
    body:
      string: '{"data":{"id":72195,"name":"Adams","entry":"<p>Lorem Ipsum.<\/p>","entry_parsed":"<p>Lorem
        Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/families_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2240089,"tags":[],"created_at":"2021-10-15T12:57:27.000000Z","created_by":88716,"updated_at":"2021-10-15T12:57:27.000000Z","updated_by":88716,"location_id":null,"type":null,"family_id":null,"members":[]}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '51'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/families/
      x-varnish-host:
      - hzn-fre1
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/2240089
  response:
    body:
      string: '{"data":{"id":2240089,"name":"Adams","type":"family","child_id":72195,"tags":[],"is_private":true,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2021-10-15T12:57:27.000000Z","created_by":88716,"updated_at":"2021-10-15T12:57:27.000000Z","updated_by":88716,"child":{"id":72195,"name":"Adams","entry":"<p>Lorem
        Ipsum.<\/p>","entry_parsed":"<p>Lorem Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/families_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2240089,"tags":[],"created_at":"2021-10-15T12:57:27.000000Z","created_by":88716,"updated_at":"2021-10-15T12:57:27.000000Z","updated_by":88716,"location_id":null,"type":null,"family_id":null,"members":[]}}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '50'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/entities/2240089
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/families/72195
  response:
    body:
      string: '{"data":{"id":72195,"name":"Adams","entry":"<p>Lorem Ipsum.<\/p>","entry_parsed":"<p>Lorem
        Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/families_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2240089,"tags":[],"created_at":"2021-10-15T12:57:27.000000Z","created_by":88716,"updated_at":"2021-10-15T12:57:27.000000Z","updated_by":88716,"location_id":null,"type":null,"family_id":null,"members":[]}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '49'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/families/72195
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://kanka.io/api/1.0/campaigns/1/families/72195
  response:
    body:
      string: ''
    headers:
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '43'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/families/72195
      x-varnish-host:
      - hzn-fre1
    status:
      code: 204
      message: No Content
version: 1
