interactions:
- request:
    body: '{"name": "Battle of Hadish", "entry": "<p>Lorem Ipsum.</p>", "type": "Battle",
      "date": "44-3-16", "tags": [], "is_private": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://kanka.io/api/1.0/campaigns/1/events/
  response:
    body:
      string: '{"data":{"id":65051,"name":"Battle of Hadish","entry":"<p>Lorem Ipsum.<\/p>","entry_parsed":"<p>Lorem
        Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/events_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2240103,"tags":[],"created_at":"2021-10-15T13:02:58.000000Z","created_by":88716,"updated_at":"2021-10-15T13:02:58.000000Z","updated_by":88716,"location_id":null,"type":"Battle","event_id":null,"date":"44-3-16"}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '89'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/events/
      x-varnish-host:
      - hzn-fre1
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/2240103
  response:
    body:
      string: '{"data":{"id":2240103,"name":"Battle of Hadish","type":"event","child_id":65051,"tags":[],"is_private":true,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2021-10-15T13:02:58.000000Z","created_by":88716,"updated_at":"2021-10-15T13:02:58.000000Z","updated_by":88716,"child":{"id":65051,"name":"Battle
        of Hadish","entry":"<p>Lorem Ipsum.<\/p>","entry_parsed":"<p>Lorem Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/events_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2240103,"tags":[],"created_at":"2021-10-15T13:02:58.000000Z","created_by":88716,"updated_at":"2021-10-15T13:02:58.000000Z","updated_by":88716,"location_id":null,"type":"Battle","event_id":null,"date":"44-3-16"}}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '88'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/entities/2240103
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/events/65051
  response:
    body:
      string: '{"data":{"id":65051,"name":"Battle of Hadish","entry":"<p>Lorem Ipsum.<\/p>","entry_parsed":"<p>Lorem
        Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/events_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2240103,"tags":[],"created_at":"2021-10-15T13:02:58.000000Z","created_by":88716,"updated_at":"2021-10-15T13:02:58.000000Z","updated_by":88716,"location_id":null,"type":"Battle","event_id":null,"date":"44-3-16"}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '87'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/events/65051
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://kanka.io/api/1.0/campaigns/1/events/65051
  response:
    body:
      string: ''
    headers:
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '81'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/events/65051
      x-varnish-host:
      - hzn-fre1
    status:
      code: 204
      message: No Content
version: 1
