interactions:
- request:
    body: '{"name": "Legends of the World", "entry": "<p>Lorem Ipsum.</p>", "type":
      "Lore", "tags": [], "is_private": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://kanka.io/api/1.0/campaigns/1/notes/
  response:
    body:
      string: '{"data":{"id":123147,"name":"Legends of the World","entry":"<p>Lorem
        Ipsum.<\/p>","entry_parsed":"<p>Lorem Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/notes_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2240092,"tags":[],"created_at":"2021-10-15T12:58:04.000000Z","created_by":88716,"updated_at":"2021-10-15T12:58:04.000000Z","updated_by":88716,"type":"Lore","note_id":null,"is_pinned":0}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '78'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/notes/
      x-varnish-host:
      - hzn-fre1
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/2240092
  response:
    body:
      string: '{"data":{"id":2240092,"name":"Legends of the World","type":"note","child_id":123147,"tags":[],"is_private":true,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2021-10-15T12:58:04.000000Z","created_by":88716,"updated_at":"2021-10-15T12:58:04.000000Z","updated_by":88716,"child":{"id":123147,"name":"Legends
        of the World","entry":"<p>Lorem Ipsum.<\/p>","entry_parsed":"<p>Lorem Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/notes_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2240092,"tags":[],"created_at":"2021-10-15T12:58:04.000000Z","created_by":88716,"updated_at":"2021-10-15T12:58:04.000000Z","updated_by":88716,"type":"Lore","note_id":null,"is_pinned":0}}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '77'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/entities/2240092
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/notes/123147
  response:
    body:
      string: '{"data":{"id":123147,"name":"Legends of the World","entry":"<p>Lorem
        Ipsum.<\/p>","entry_parsed":"<p>Lorem Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/notes_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2240092,"tags":[],"created_at":"2021-10-15T12:58:04.000000Z","created_by":88716,"updated_at":"2021-10-15T12:58:04.000000Z","updated_by":88716,"type":"Lore","note_id":null,"is_pinned":0}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '76'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/notes/123147
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://kanka.io/api/1.0/campaigns/1/notes/123147
  response:
    body:
      string: ''
    headers:
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '70'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/notes/123147
      x-varnish-host:
      - hzn-fre1
    status:
      code: 204
      message: No Content
version: 1
