interactions:
- request:
    body: '{"name": "Pelor''s Quest", "entry": "<p>Lorem Ipsum.</p>", "type": "Main",
      "tags": [], "is_private": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://kanka.io/api/1.0/campaigns/1/quests/
  response:
    body:
      string: '{"data":{"id":45111,"name":"Pelor''s Quest","entry":"<p>Lorem Ipsum.<\/p>","entry_parsed":"<p>Lorem
        Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/quests_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2240093,"tags":[],"created_at":"2021-10-15T12:58:15.000000Z","created_by":88716,"updated_at":"2021-10-15T12:58:15.000000Z","updated_by":88716,"character_id":null,"type":"Main","date":null,"is_completed":false,"quest_id":null,"calendar_id":null,"calendar_year":null,"calendar_month":null,"calendar_day":null,"elements_count":0,"elements":[]}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '58'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/quests/
      x-varnish-host:
      - hzn-fre1
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/2240093
  response:
    body:
      string: '{"data":{"id":2240093,"name":"Pelor''s Quest","type":"quest","child_id":45111,"tags":[],"is_private":true,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2021-10-15T12:58:15.000000Z","created_by":88716,"updated_at":"2021-10-15T12:58:15.000000Z","updated_by":88716,"child":{"id":45111,"name":"Pelor''s
        Quest","entry":"<p>Lorem Ipsum.<\/p>","entry_parsed":"<p>Lorem Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/quests_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2240093,"tags":[],"created_at":"2021-10-15T12:58:15.000000Z","created_by":88716,"updated_at":"2021-10-15T12:58:15.000000Z","updated_by":88716,"character_id":null,"type":"Main","date":null,"is_completed":false,"quest_id":null,"calendar_id":null,"calendar_year":null,"calendar_month":null,"calendar_day":null,"elements_count":0,"elements":[]}}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '57'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/entities/2240093
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/quests/45111
  response:
    body:
      string: '{"data":{"id":45111,"name":"Pelor''s Quest","entry":"<p>Lorem Ipsum.<\/p>","entry_parsed":"<p>Lorem
        Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/quests_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2240093,"tags":[],"created_at":"2021-10-15T12:58:15.000000Z","created_by":88716,"updated_at":"2021-10-15T12:58:15.000000Z","updated_by":88716,"character_id":null,"type":"Main","date":null,"is_completed":false,"quest_id":null,"calendar_id":null,"calendar_year":null,"calendar_month":null,"calendar_day":null,"elements_count":0,"elements":[]}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '56'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/quests/45111
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://kanka.io/api/1.0/campaigns/1/quests/45111
  response:
    body:
      string: ''
    headers:
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '50'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/quests/45111
      x-varnish-host:
      - hzn-fre1
    status:
      code: 204
      message: No Content
version: 1
