interactions:
- request:
    body: '{"name": "Mordor", "type": "Kingdom", "tags": [], "is_private": true, "is_map_private":
      0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://kanka.io/api/1.0/campaigns/1/locations/
  response:
    body:
      string: '{"data":{"id":525409,"name":"Mordor","entry":null,"entry_parsed":null,"image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/locations_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2239132,"tags":[],"created_at":"2021-10-14T23:44:07.000000Z","created_by":88716,"updated_at":"2021-10-14T23:44:07.000000Z","updated_by":88716,"type":"Kingdom","map":"https:\/\/kanka.io\/images\/defaults\/patreon\/locations_thumb.png","is_map_private":0,"parent_location_id":null}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '89'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/locations/
      x-varnish-host:
      - hzn-fre1
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/2239132
  response:
    body:
      string: '{"data":{"id":2239132,"name":"Mordor","type":"location","child_id":525409,"tags":[],"is_private":true,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2021-10-14T23:44:07.000000Z","created_by":88716,"updated_at":"2021-10-14T23:44:07.000000Z","updated_by":88716,"child":{"id":525409,"name":"Mordor","entry":null,"entry_parsed":null,"image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/locations_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2239132,"tags":[],"created_at":"2021-10-14T23:44:07.000000Z","created_by":88716,"updated_at":"2021-10-14T23:44:07.000000Z","updated_by":88716,"type":"Kingdom","map":"https:\/\/kanka.io\/images\/defaults\/patreon\/locations_thumb.png","is_map_private":0,"parent_location_id":null}}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '88'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/entities/2239132
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/locations/525409
  response:
    body:
      string: '{"data":{"id":525409,"name":"Mordor","entry":null,"entry_parsed":null,"image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/locations_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2239132,"tags":[],"created_at":"2021-10-14T23:44:07.000000Z","created_by":88716,"updated_at":"2021-10-14T23:44:07.000000Z","updated_by":88716,"type":"Kingdom","map":"https:\/\/kanka.io\/images\/defaults\/patreon\/locations_thumb.png","is_map_private":0,"parent_location_id":null}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '87'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/locations/525409
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "Mordor (revised)", "type": "Kingdom", "tags": [], "is_private":
      true, "is_map_private": 0, "header_full": "", "has_custom_header": false, "map_url":
      "https://kanka.io/images/defaults/patreon/locations_thumb.png", "entry": "<p>Lorem
      Ipsum.</p><p>Dolor Sit Amet.</p>"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://kanka.io/api/1.0/campaigns/1/locations/525409
  response:
    body:
      string: '{"data":{"id":525409,"name":"Mordor (revised)","entry":"<p>Lorem Ipsum.<\/p><p>Dolor
        Sit Amet.<\/p>","entry_parsed":"<p>Lorem Ipsum.<\/p><p>Dolor Sit Amet.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/locations_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2239132,"tags":[],"created_at":"2021-10-14T23:44:07.000000Z","created_by":88716,"updated_at":"2021-10-14T23:44:09.000000Z","updated_by":88716,"type":"Kingdom","map":"https:\/\/images.kanka.io\/user\/X_7MKMnF5KDVZzCbpj9AQwxVTd4=\/smart\/src\/locations%2F6168c0c99be8c_locations-thumbpng.locations-thumbpng?webpfallback","is_map_private":0,"parent_location_id":null}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '85'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/locations/525409
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://kanka.io/api/1.0/campaigns/1/locations/525409
  response:
    body:
      string: ''
    headers:
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '81'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/locations/525409
      x-varnish-host:
      - hzn-fre1
    status:
      code: 204
      message: No Content
version: 1
