interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/events
  response:
    body:
      string: '{"data":[{"id":136,"name":"Weymouth War for Newport","entry":"\n<p>The
        <strong>Weymouth War for Newport<\/strong> was a conflict started in December
        1001 AC and ended in March 1002 AC, when the kingdom of Weymouth attacked
        the kingdom of Newport and lost. The aftermath allowed the formation of the
        <a href=\"https:\/\/kanka.io\/en\/campaign\/1\/locations\/5129\">Three Rivers
        Federation<\/a>\u00a0to avoid such wars in the future.<\/p>\n","entry_parsed":"\n<p>The
        <strong>Weymouth War for Newport<\/strong> was a conflict started in December
        1001 AC and ended in March 1002 AC, when the kingdom of Weymouth attacked
        the kingdom of Newport and lost. The aftermath allowed the formation of the
        <a href=\"https:\/\/kanka.io\/en\/campaign\/1\/locations\/5129\">Three Rivers
        Federation<\/a>\u00a0to avoid such wars in the future.<\/p>\n","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/events_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":false,"is_template":false,"entity_id":12008,"tags":[],"created_at":"2018-04-03T18:36:52.000000Z","created_by":null,"updated_at":"2021-02-11T15:51:58.000000Z","updated_by":null,"location_id":5129,"type":"War","event_id":null,"date":"1001
        to 1002 AC"},{"id":137,"name":"Punishment War","entry":"\n<p>The Punishment
        War was a preventive war of <a href=\"https:\/\/kanka.io\/en\/campaign\/1\/locations\/928\">Arden<\/a>\u00a0and
        <a href=\"https:\/\/kanka.io\/en\/campaign\/1\/locations\/1015\">Rivandol<\/a>\u00a0against
        <a href=\"https:\/\/kanka.io\/en\/campaign\/1\/locations\/933\">Othiria<\/a>\u00a0in
        977 AC.<\/p>\n<h2>Build up<\/h2>\n<p>The kingdoms Rivandol and Arden viewed
        the kingdom of Othiria as a growing threat, with Othiria comiting more resources
        to their military. This promoted Rivandol and Arden to launch a pre-emptive
        attack on Othiria.<\/p>\n<h2>Beligrants<\/h2>\n<h3>Attackers<\/h3>\n<ul><li>Rivandol:
        18''000 men<\/li>\n<li>Arden: 11''000 men<\/li>\n<\/ul><h3>Defenders<\/h3>\n<ul><li>Othiria:
        17''000 men<\/li>\n<li>Thasslia: 1''200 men. Thesslia didn''t have the resources
        or organisation to quickly raise their troupes, and contributed little to
        war.<\/li>\n<\/ul><h2>Outcome<\/h2>\n<p>The war lasted 4 months before the
        attacking forces sieged and conquered\u00a0<a href=\"http:\/\/dnd.loc\/index.php\/Redford\">Redford<\/a>,
        at the time c[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/12008
  response:
    body:
      string: '{"data":{"id":12008,"name":"Weymouth War for Newport","type":"event","child_id":136,"tags":[],"is_private":false,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2018-04-03T18:36:52.000000Z","created_by":null,"updated_at":"2018-04-03T18:36:52.000000Z","updated_by":null,"child":{"id":136,"name":"Weymouth
        War for Newport","entry":"\n<p>The <strong>Weymouth War for Newport<\/strong>
        was a conflict started in December 1001 AC and ended in March 1002 AC, when
        the kingdom of Weymouth attacked the kingdom of Newport and lost. The aftermath
        allowed the formation of the <a href=\"https:\/\/kanka.io\/en\/campaign\/1\/locations\/5129\">Three
        Rivers Federation<\/a>\u00a0to avoid such wars in the future.<\/p>\n","entry_parsed":"\n<p>The
        <strong>Weymouth War for Newport<\/strong> was a conflict started in December
        1001 AC and ended in March 1002 AC, when the kingdom of Weymouth attacked
        the kingdom of Newport and lost. The aftermath allowed the formation of the
        <a href=\"https:\/\/kanka.io\/en\/campaign\/1\/locations\/5129\">Three Rivers
        Federation<\/a>\u00a0to avoid such wars in the future.<\/p>\n","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/events_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":false,"is_template":false,"entity_id":12008,"tags":[],"created_at":"2018-04-03T18:36:52.000000Z","created_by":null,"updated_at":"2021-02-11T15:51:58.000000Z","updated_by":null,"location_id":5129,"type":"War","event_id":null,"date":"1001
        to 1002 AC"}}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '79'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/entities/12008
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
[...]
