interactions:
- request:
    body: '{"name": "Fireball", "entry": "<p>Lorem Ipsum.</p>", "type": "3rd level",
      "charges": "3", "tags": [], "is_private": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://kanka.io/api/1.0/campaigns/1/abilities/
  response:
    body:
      string: '{"data":{"id":88828,"name":"Fireball","entry":"<p>Lorem Ipsum.<\/p>","entry_parsed":"<p>Lorem
        Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/abilities_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2240088,"tags":[],"created_at":"2021-10-15T12:56:56.000000Z","created_by":88716,"updated_at":"2021-10-15T12:56:56.000000Z","updated_by":88716,"type":"3rd
        level","ability_id":null,"charges":"3","abilities":[]}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '89'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/abilities/
      x-varnish-host:
      - hzn-fre1
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/2240088
  response:
    body:
      string: '{"data":{"id":2240088,"name":"Fireball","type":"ability","child_id":88828,"tags":[],"is_private":true,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2021-10-15T12:56:56.000000Z","created_by":88716,"updated_at":"2021-10-15T12:56:56.000000Z","updated_by":88716,"child":{"id":88828,"name":"Fireball","entry":"<p>Lorem
        Ipsum.<\/p>","entry_parsed":"<p>Lorem Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/abilities_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2240088,"tags":[],"created_at":"2021-10-15T12:56:56.000000Z","created_by":88716,"updated_at":"2021-10-15T12:56:56.000000Z","updated_by":88716,"type":"3rd
        level","ability_id":null,"charges":"3","abilities":[]}}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '88'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/entities/2240088
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/abilities/88828
  response:
    body:
      string: '{"data":{"id":88828,"name":"Fireball","entry":"<p>Lorem Ipsum.<\/p>","entry_parsed":"<p>Lorem
        Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/abilities_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2240088,"tags":[],"created_at":"2021-10-15T12:56:56.000000Z","created_by":88716,"updated_at":"2021-10-15T12:56:56.000000Z","updated_by":88716,"type":"3rd
        level","ability_id":null,"charges":"3","abilities":[]}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '87'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/abilities/88828
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://kanka.io/api/1.0/campaigns/1/abilities/88828
  response:
    body:
      string: ''
    headers:
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '81'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/abilities/88828
      x-varnish-host:
      - hzn-fre1
    status:
      code: 204
      message: No Content
version: 1
