interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/items
  response:
    body:
      string: '{"data":[{"id":1,"name":"Dagger of Darkness","entry":"\n<p>Description
        of the item.<\/p>\n<h3>History<\/h3>\n<p>History of the item.<\/p>\n","entry_parsed":"\n<p>Description
        of the item.<\/p>\n<h3>History<\/h3>\n<p>History of the item.<\/p>\n","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/items_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":false,"is_template":false,"entity_id":1009,"tags":[],"created_at":"2017-11-02T16:29:34.000000Z","created_by":null,"updated_at":"2018-09-12T12:22:54.000000Z","updated_by":null,"location_id":null,"character_id":null,"type":"Weapon,
        Dagger","price":null,"size":null},{"id":1133,"name":"Sword of Vengeance","entry":"\n<p>Sword
        of Vengeance: requires attunement; a +1 sword, but the curse on the sword
        refuses to let you part with it, and whenever you take damage in combat you
        have to make a Wis save. If you fail, then you must attack the creature that
        damaged you until you or the target drops to 0 HP.<\/p>\n<h3>History<\/h3>\n\n","entry_parsed":"\n<p>Sword
        of Vengeance: requires attunement; a +1 sword, but the curse [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/1009
  response:
    body:
      string: '{"data":{"id":1009,"name":"Dagger of Darkness","type":"item","child_id":1,"tags":[],"is_private":false,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2017-12-02T11:08:13.000000Z","created_by":null,"updated_at":"2018-04-05T12:59:57.000000Z","updated_by":null,"child":{"id":1,"name":"Dagger
        of Darkness","entry":"\n<p>Description of the item.<\/p>\n<h3>History<\/h3>\n<p>History
        of the item.<\/p>\n","entry_parsed":"\n<p>Description of the item.<\/p>\n<h3>History<\/h3>\n<p>History
        of the item.<\/p>\n","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/items_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":false,"is_template":false,"entity_id":1009,"tags":[],"created_at":"2017-11-02T16:29:34.000000Z","created_by":null,"updated_at":"2018-09-12T12:22:54.000000Z","updated_by":null,"location_id":null,"character_id":null,"type":"Weapon,
        Dagger","price":null,"size":null}}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '21'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/entities/1009
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/26641
  response:
    body:
      string: '{"data":{"id":26641,"name":"Fleogan''s Carpet","type":"item","child_id":2427,"tags":[],"is_private":false,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2018-06-16T07:55:13.000000Z","created_by":null,"updated_at":"2018-06-17T15:53:39.000000Z","updated_by":null,"child":{"id":2427,"name":"Fleogan''s
        Carpet","entry":"\n<p>Fleogan''s Carpet is a green carpet embroidered with
        fine golden silk threads depicting a farmer (Fleogan) and his family''s rise
        to wealth and fortune. It is a\u00a0<a href=\"https:\/\/roll20.net\/compendium\/dnd5e\/Carpet%20of%20Flying#content\">Carpet
        of Flying<\/a>.<\/p>\n<p>Size: 4 ft x 6 ft \/ 1.2 m x 1.8 m<br \/>Carry capacity:
        400 lb \/ 180 kg<br \/>Flying speed: 60 feet<\/p>\n<h3>History<\/h3>\n<p>Lord
        Fleogan was born to a family of serfs in Jablwood in 409 AC. His lord granted
        him some marshlands for his hard work and council, and Fleogan transformed
        the land into proper farming land. Through more hard work and a bit of luck,
        he eventually amassed reasonable amounts of wealth.<\/p>\n<p>Lord Fleogan
        had a famous tailor create this carpet for his daug[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/26642
  response:
    body:
      string: '{"data":{"id":26642,"name":"Boots of Speed","type":"item","child_id":2428,"tags":[],"is_private":false,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2018-06-16T07:58:53.000000Z","created_by":null,"updated_at":"2018-06-17T15:34:43.000000Z","updated_by":null,"child":{"id":2428,"name":"Boots
        of Speed","entry":"\n<p>Wondrous Item, Rare (<strong>requires attunement<\/strong>)<\/p>\n<div>\n<p>While
        you wear these boots, you can use a bonus action and click the boots'' heels
        together. If you do, the boots double your walking speed, and any creature
        that makes an opportunity attack against you has disadvantage on the attack
        roll. If you click your heels together again, you end the effect.<\/p>\n<p>When
        the boots'' property has been used for a total of 10 minutes, the magic ceases
        to function until you finish a long rest.<\/p>\n<\/div[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/27500
  response:
    body:
      string: '{"data":{"id":27500,"name":"Letter from Dion - Charlie","type":"item","child_id":2509,"tags":[],"is_private":false,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2018-06-22T15:54:21.000000Z","created_by":null,"updated_at":"2018-06-22T15:54:21.000000Z","updated_by":null,"child":{"id":2509,"name":"Letter
        from Dion - Charlie","entry":"\n<p><span style=\"font-weight:400;\">Dead son,<\/span><\/p>\n<p><span
        style=\"font-weight:400;\">I am surprised that you contacted me concerning
        Charlie and her son, as I had forgotten about this encounter. The truth is,
        I helped her son escape from Redford, as he was involved in some criminal
        group. To protect his mother, he asked me to say that I killed him.<\/span><\/p>\n<p><span
        style=\"font-weight:400;\">I tracked him and he is currently residing in Highgate,
 [...]
