interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/timelines
  response:
    body:
      string: '{"data":[{"id":1,"name":"Thaelian Chronicles","entry":"<p>This timeline
        represents the main timeline of the continent of <a href=\"#\" class=\"mention\">Thaelia<\/a>.<\/p><p><br
        \/><\/p>","entry_parsed":"<p>This timeline represents the main timeline of
        the continent of <a href=\"#\" class=\"mention\">Thaelia<\/a>.<\/p><p><br
        \/><\/p>","image":"timelines\/YXCdOibNFVCiC7zE8D0RHtFxvSh4Iy4xCEmrKX2g.png","focus_x":null,"focus_y":null,"image_full":"https:\/\/images.kanka.io\/user\/B8DHUfOiKcx0YgKMpq9XzjqGMlI=\/smart\/src\/timelines%2FYXCdOibNFVCiC7zE8D0RHtFxvSh4Iy4xCEmrKX2g.png?webpfallback","image_thumb":"https:\/\/images.kanka.io\/user\/C1rej1WQ-OwDD1t9fqSehgbDNQo=\/40x40\/smart\/src\/timelines%2FYXCdOibNFVCiC7zE8D0RHtFxvSh4Iy4xCEmrKX2g.png?webpfallback","has_custom_image":true,"header_full":"","has_custom_header":false,"is_private":false,"is_template":false,"entity_id":903827,"tags":[],"created_at":"2020-08-17T08:39:23.000000Z","created_by":1,"updated_at":"2021-02-11T15:51:50.000000Z","updated_by":1,"type":"Continent","timeline_id":null,"eras":[{"id":1,"name":"Before
        Conquest","abbreviation":"BC","start_year":null,"entry":"<p>The age of conquest
        tells the events that happened on the continent before the [event:22214],
        when humans were still a minority folk mostly living on the the coast of [location:19591].<\/p>","entry_parsed":"<p>The
        age of conquest tells the events that happened on the continent before the
        <a href=\"https:\/\/kanka.io\/en-US\/campaign\/1\/events\/367\" class=\"entity-mention\"
        data-entity-tags=\"\" data-toggle=\"tooltip-ajax\" data-id=\"22214\" data-url=\"https:\/\/kanka.io\/en-US\/campaign\/1\/entities\/22214\/tooltip\">Conquest
        of Thaelia<\/a>, when humans were still a minority folk mostly living on the
        the coast of <a href=\"https:\/\/kanka.io\/en-US\/campaign\/1\/locations\/7817\"
        class=\"entity-mention\" data-entity-tags=\"\" data-toggle=\"tooltip-ajax\"
        data-id=\"19591\" data-url=\"https:\/\/kanka.io\/en-US\/campaign\/1\/entities\/19591\/tooltip\">Owlchester<\/a>.<\/p>","end_year":-60,"elements":[{"id":1,"era_id":1,"timeline_id":1,"entity_id":19591,"name":"Founding
        of Owlchester","entry":"<p>The small port town of Owlchester was founded by
        humans arriving from <a href=\"#\" class=\"mention\">Torchio<\/a>.<\/p>","entry_parsed":"<p>The
        small port town of Owlchester was founded by humans arriving from <a href=\"#\"
        class=\"mention\">Torchio<\/a>.<\/p>","date":"-230","colour":"teal","position":2,"visibility":"all","icon":"<i
        class=\"ra  ra-castle-emblem\"><\/i>"},{"id":2,"era_id":1,"timeline_id":1,"entity_id":12347,"name":"Founding
        of Craic","entry":"<p>The town of Craic was founded by tribes people migrating
        from the other side of the Lower Ethylian Sea.<\/p>","entry_parsed":"<p>The
        town of Craic was founded by tribes people migrating from the other side of
        the Lower Ethylian Sea.<\/p>","date":"-205","colour":"teal","position":1,"visibility":"all","icon":"<i
        class=\"ra  ra-castle-emblem\"><\/i>"}],"is_collapsed":false},{"id":2,"name":"Age
        of Conquest","abbreviation":"AoC","start_year":-60,"entry":"<p>The Age of
        Conquest tracks the main changes to the continent during which humans took
        over most of the continent and replaced the previously existing folk. This
        lasted only 60 years before humans were the main military and political force.<\/p>","entry_parsed":"<p>The
        Age of Conquest tracks the main changes to the continent during which humans
        took over most o[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/903827
  response:
    body:
      string: '{"data":{"id":903827,"name":"Thaelian Chronicles","type":"timeline","child_id":1,"tags":[],"is_private":false,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":"","header_image":null,"image_uuid":null,"created_at":"2020-08-17T08:39:23.000000Z","created_by":1,"updated_at":"2020-08-17T08:39:23.000000Z","updated_by":1,"child":{"id":1,"name":"Thaelian
        Chronicles","entry":"<p>This timeline represents the main timeline of the
        continent of <a href=\"#\" class=\"mention\">Thaelia<\/a>.<\/p><p><br \/><\/p>","entry_parsed":"<p>This
        timeline represents the main timeline of the continent of <a href=\"#\" class=\"mention\">Thaelia<\/a>.<\/p><p><br
        \/><\/p>","image":"timelines\/YXCdOibNFVCiC7zE8D0RHtFxvSh4Iy4xCEmrKX2g.png","focus_x":null,"focus_y":null,"image_full":"https:\/\/images.kanka.io\/user\/B8DHUfOiKcx0YgKMpq9XzjqGMlI=\/smart\/src\/timelines%2FYXCdOibNFVCiC7zE8D0RHtFxvSh4Iy4xCEmrKX2g.png?webpfallback","image_thumb":"https:\/\/images.kanka.io\/user\/C1rej1WQ-OwDD1t9fqSeh[...]
[...]
