interactions:
- request:
    body: '{"name": "Spear", "entry": "<p>Lorem Ipsum.</p>", "type": "Weapon", "price":
      "25 gp", "size": "1 lb.", "tags": [], "is_private": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://kanka.io/api/1.0/campaigns/1/items/
  response:
    body:
      string: '{"data":{"id":167747,"name":"Spear","entry":"<p>Lorem Ipsum.<\/p>","entry_parsed":"<p>Lorem
        Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/items_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2176957,"tags":[],"created_at":"2021-09-23T15:25:59.000000Z","created_by":88716,"updated_at":"2021-09-23T15:25:59.000000Z","updated_by":88716,"location_id":null,"character_id":null,"type":"Weapon","price":"25
        gp","size":"1 lb."}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '83'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/items/
      x-varnish-host:
      - hzn-fre1
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/2176957
  response:
    body:
      string: '{"data":{"id":2176957,"name":"Spear","type":"item","child_id":167747,"tags":[],"is_private":true,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2021-09-23T15:25:59.000000Z","created_by":88716,"updated_at":"2021-09-23T15:25:59.000000Z","updated_by":88716,"child":{"id":167747,"name":"Spear","entry":"<p>Lorem
        Ipsum.<\/p>","entry_parsed":"<p>Lorem Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/items_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2176957,"tags":[],"created_at":"2021-09-23T15:25:59.000000Z","created_by":88716,"updated_at":"2021-09-23T15:25:59.000000Z","updated_by":88716,"location_id":null,"character_id":null,"type":"Weapon","price":"25
        gp","size":"1 lb."}}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '82'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/entities/2176957
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/items/167747
  response:
    body:
      string: '{"data":{"id":167747,"name":"Spear","entry":"<p>Lorem Ipsum.<\/p>","entry_parsed":"<p>Lorem
        Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/items_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2176957,"tags":[],"created_at":"2021-09-23T15:25:59.000000Z","created_by":88716,"updated_at":"2021-09-23T15:25:59.000000Z","updated_by":88716,"location_id":null,"character_id":null,"type":"Weapon","price":"25
        gp","size":"1 lb."}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '81'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/items/167747
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
version: 1
