interactions:
- request:
    body: '{"name": "Religion", "entry": "<p>Lorem Ipsum.</p>", "type": "Lore", "colour":
      "green", "is_private": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://kanka.io/api/1.0/campaigns/1/tags/
  response:
    body:
      string: '{"data":{"id":159251,"name":"Religion","entry":"<p>Lorem Ipsum.<\/p>","entry_parsed":"<p>Lorem
        Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/tags_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2193327,"tags":[],"created_at":"2021-09-29T12:54:15.000000Z","created_by":88716,"updated_at":"2021-09-29T12:54:15.000000Z","updated_by":88716,"type":"Lore","tag_id":null,"colour":"green","entities":[]}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '89'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/tags/
      x-varnish-host:
      - hzn-fre1
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/2193327
  response:
    body:
      string: '{"data":{"id":2193327,"name":"Religion","type":"tag","child_id":159251,"tags":[],"is_private":true,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2021-09-29T12:54:15.000000Z","created_by":88716,"updated_at":"2021-09-29T12:54:15.000000Z","updated_by":88716,"child":{"id":159251,"name":"Religion","entry":"<p>Lorem
        Ipsum.<\/p>","entry_parsed":"<p>Lorem Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/tags_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2193327,"tags":[],"created_at":"2021-09-29T12:54:15.000000Z","created_by":88716,"updated_at":"2021-09-29T12:54:15.000000Z","updated_by":88716,"type":"Lore","tag_id":null,"colour":"green","entities":[]}}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '88'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/entities/2193327
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/tags/159251
  response:
    body:
      string: '{"data":{"id":159251,"name":"Religion","entry":"<p>Lorem Ipsum.<\/p>","entry_parsed":"<p>Lorem
        Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/tags_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2193327,"tags":[],"created_at":"2021-09-29T12:54:15.000000Z","created_by":88716,"updated_at":"2021-09-29T12:54:15.000000Z","updated_by":88716,"type":"Lore","tag_id":null,"colour":"green","entities":[]}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '87'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/tags/159251
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
version: 1
