interactions:
- request:
    body: '{"name": "Thaelian Timeline", "entry": "<p>Lorem Ipsum</p>", "type": "Primary",
      "revert_order": false, "tags": [], "is_private": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://kanka.io/api/1.0/campaigns/1/timelines/
  response:
    body:
      string: '{"data":{"id":7741,"name":"Thaelian Timeline","entry":"<p>Lorem Ipsum<\/p>","entry_parsed":"<p>Lorem
        Ipsum<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/timelines_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":false,"is_template":false,"entity_id":2193310,"tags":[],"created_at":"2021-09-29T12:43:45.000000Z","created_by":88716,"updated_at":"2021-09-29T12:43:45.000000Z","updated_by":88716,"type":"Primary","timeline_id":null,"eras":[],"revert_order":0}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '86'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/timelines/
      x-varnish-host:
      - hzn-fre1
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/2193310
  response:
    body:
      string: '{"data":{"id":2193310,"name":"Thaelian Timeline","type":"timeline","child_id":7741,"tags":[],"is_private":false,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2021-09-29T12:43:45.000000Z","created_by":88716,"updated_at":"2021-09-29T12:43:46.000000Z","updated_by":88716,"child":{"id":7741,"name":"Thaelian
        Timeline","entry":"<p>Lorem Ipsum<\/p>","entry_parsed":"<p>Lorem Ipsum<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/timelines_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":false,"is_template":false,"entity_id":2193310,"tags":[],"created_at":"2021-09-29T12:43:45.000000Z","created_by":88716,"updated_at":"2021-09-29T12:43:45.000000Z","updated_by":88716,"type":"Primary","timeline_id":null,"eras":[],"revert_order":0}}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '85'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/entities/2193310
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/timelines/7741
  response:
    body:
      string: '{"data":{"id":7741,"name":"Thaelian Timeline","entry":"<p>Lorem Ipsum<\/p>","entry_parsed":"<p>Lorem
        Ipsum<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/timelines_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":false,"is_template":false,"entity_id":2193310,"tags":[],"created_at":"2021-09-29T12:43:45.000000Z","created_by":88716,"updated_at":"2021-09-29T12:43:45.000000Z","updated_by":88716,"type":"Primary","timeline_id":null,"eras":[],"revert_order":0}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '84'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/timelines/7741
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
version: 1
