interactions:
- request:
    body: '{"name": "Jonathan Green", "entry": "<p>Lorem Ipsum.</p>", "age": "39",
      "sex": "Male", "race_id": 3, "tags": [], "is_dead": true, "is_private": true,
      "is_personality_visible": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://kanka.io/api/1.0/campaigns/1/characters/
  response:
    body:
      string: '{"data":{"id":557195,"name":"Jonathan Green","entry":"<p>Lorem Ipsum.<\/p>","entry_parsed":"<p>Lorem
        Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/characters_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2176956,"tags":[],"created_at":"2021-09-23T15:25:58.000000Z","created_by":88716,"updated_at":"2021-09-23T15:25:58.000000Z","updated_by":88716,"location_id":null,"title":null,"age":"39","sex":"Male","pronouns":null,"race_id":3,"type":null,"family_id":null,"is_dead":true,"traits":[],"is_personality_visible":true}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '86'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/characters/
      x-varnish-host:
      - hzn-fre1
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/2176956
  response:
    body:
      string: '{"data":{"id":2176956,"name":"Jonathan Green","type":"character","child_id":557195,"tags":[],"is_private":true,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2021-09-23T15:25:58.000000Z","created_by":88716,"updated_at":"2021-09-23T15:25:58.000000Z","updated_by":88716,"child":{"id":557195,"name":"Jonathan
        Green","entry":"<p>Lorem Ipsum.<\/p>","entry_parsed":"<p>Lorem Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/characters_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2176956,"tags":[],"created_at":"2021-09-23T15:25:58.000000Z","created_by":88716,"updated_at":"2021-09-23T15:25:58.000000Z","updated_by":88716,"location_id":null,"title":null,"age":"39","sex":"Male","pronouns":null,"race_id":3,"type":null,"family_id":null,"is_dead":true,"traits":[],"is_personality_visible":true}}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '85'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/entities/2176956
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/characters/557195
  response:
    body:
      string: '{"data":{"id":557195,"name":"Jonathan Green","entry":"<p>Lorem Ipsum.<\/p>","entry_parsed":"<p>Lorem
        Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/characters_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2176956,"tags":[],"created_at":"2021-09-23T15:25:58.000000Z","created_by":88716,"updated_at":"2021-09-23T15:25:58.000000Z","updated_by":88716,"location_id":null,"title":null,"age":"39","sex":"Male","pronouns":null,"race_id":3,"type":null,"family_id":null,"is_dead":true,"traits":[],"is_personality_visible":true}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '84'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/characters/557195
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
version: 1
