interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/calendars
  response:
    body:
      string: '{"data":[{"id":34,"name":"Thaelian","entry":"\n<p>The Thaelian calendar
        is the most widespread used calendar system on the continent of <a title=\"Thaelia
        is a continent on the northern hemisphere. It borders the continent of Beira,
        and has a population of around 11 million humanoid races.\" href=\"https:\/\/kanka.io\/en\/campaign\/1\/locations\/5122\"
        data-toggle=\"tooltip\">Thaelia<\/a>. It inherits from the old calendars which
        came before it. It was created in 42 AE once the <a href=\"#\">Last Rebellion<\/a>
        was conquered.<\/p>\n","entry_parsed":"\n<p>The Thaelian calendar is the most
        widespread used calendar system on the continent of <a title=\"Thaelia is
        a continent on the northern hemisphere. It borders the continent of Beira,
        and has a population of around 11 million humanoid races.\" href=\"https:\/\/kanka.io\/en\/campaign\/1\/locations\/5122\"
        data-toggle=\"tooltip\">Thaelia<\/a>. It inherits from the old calendars which
        came before it. It was created in 42 AE once the <a href=\"#\">Last Rebellion<\/a>
        was conquered.<\/p>\n","image":"calendars\/ZLWJuOnIVDfu68Qt3lFg3FllZiTPyW2Awm8VyDLQ.jpeg","focus_x":null,"focus_y":null,"image_full":"https:\/\/images.kanka.io\/user\/l-zlh7hDDmSRRvuqVwkrUm86eUw=\/smart\/src\/calendars%2FZLWJuOnIVDfu68Qt3lFg3FllZiTPyW2Awm8VyDLQ.jpeg?webpfallback","image_thumb":"https:\/\/images.kanka.io\/user\/9WAtUTQUB3ET16zHdkx5m-FS--8=\/40x40\/smart\/src\/calendars%2FZLWJuOnIVDfu68Qt3lFg3FllZiTPyW2Awm8VyDLQ.jpeg?webpfallback","has_custom_image":true,"header_full":"https:\/\/images.kanka.io\/user\/4TGTrS2QDugD5ffoPUr7Ecx-K5U=\/smart\/src\/campaign%2F1%2FJngoboCvy1JaahmIEGoFE8m1dgopOEAP1WGcQmNY.jpeg?webpfallback","has_custom_header":true,"is_private":false,"is_template":false,"entity_id":19019,"tags":[],"created_at":"2018-05-05T16:10:52.000000Z","created_by":null,"updated_at":"2021-05-13T15:19:03.000000Z","updated_by":1,"type":"Calendar","date":"1025-4-16","parameters":null,"months":[{"name":"Vanay","length":30,"type":"standard","alias":"Children"},{"name":"Mauar","length":30,"type":"standard","alias":"Flowers"},{"name":"Uajai","length":30,"type":"standard","alias":"Growth"},{"name":"Tunay","length":30,"type":"standard","alias":"Rest"},{"name":"Kizor","length":30,"type":"standard","alias":"Sun"},{"name":"Muvay","length":30,"type":"standard","alias":"Rain"},{"name":"Avunai","length":30,"type":"standard","alias":"Harvest"},{"name":"Baray","length":30,"type":"standard","alias":"Change"},{"name":"Sikor","length":30,"type":"standard","alias":"Night"},{"name":"Tena","length":12,"type":"standard","alias":"Rebirth"}],"weekdays":["Father''s
        Day","Monday","Elorday","Sunday","Ivinday","Alurday","Thursday","Mother''s
        Day"],"years":{"1":"Year of Conquest","22":"Year of Standardization","665":"Year
        of the Great Death","883":"Year of Bloodshed"},"seasons":[{"name":"Winter","month":9,"day":1},{"name":"Spring","month":2,"day":20},{"name":"Summer","month":5,"day":10},{"name":"Autumn","month":8,"day":20}],"moons":[{"name":"Suuil","fullmoon":"20","offset":0,"colour":"maroon","id":1},{"name":"Annan","fullmoon":"31","offset":0,"colour":"orange","id":2}],"start_offset":0,"suffix":"AE","has_leap_year":0,"leap_year_amount":null,"leap_year_month":null,"leap_year_offset":null,"leap_year_start":null},{"id":609,"name":"Sunea
        Calendar","entry":"<p>The Sunea Calendar is the oldest calendar still in use
        to this day, mostly on the continent of\u00a0[location:104446].<\/p>\n<p>It
        has 7 months of 40 days each, and 10 leap days every fifth year.<\/p>\n<p>The
        first three months are those dedicated to working the fields, the 4th to rest
        (summer) and the last 3 to pruning the crops.<\/p>","entry_parsed":"<p>The
        Sunea Calendar is the oldest calendar [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/19019
  response:
    body:
      string: '{"data":{"id":19019,"name":"Thaelian","type":"calendar","child_id":34,"tags":[],"is_private":false,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":"\n\n","header_image":"campaign\/1\/JngoboCvy1JaahmIEGoFE8m1dgopOEAP1WGcQmNY.jpeg","image_uuid":null,"created_at":"2018-05-05T16:10:52.000000Z","created_by":null,"updated_at":"2020-09-26T11:03:52.000000Z","updated_by":1,"child":{"id":34,"name":"Thaelian","entry":"\n<p>The
        Thaelian calendar is the most widespread used calendar system on the continent
        of <a title=\"Thaelia is a continent on the northern hemisphere. It borders
        the continent of Beira, and has a population of around 11 million humanoid
        races.\" href=\"https:\/\/kanka.io\/en\/campaign\/1\/locations\/5122\" data-toggle=\"tooltip\">Thaelia<\/a>.
        It inherits from the old calendars which came before it. It was created in
 [...]
[...]
