interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/characters
  response:
    body:
      string: '{"data":[{"id":715,"name":"Callum Pryde","entry":"\n<p>Callum was born
        in\u00a0<a href=\"http:\/\/dnd.jpayne.ch\/index.php?title=Craic&amp;action=edit&amp;redlink=1\">Craic<\/a>\u00a0and
        grew up travelling the country of\u00a0<a href=\"http:\/\/dnd.jpayne.ch\/index.php?title=Thasslia\">Thasslia<\/a>\u00a0to
        know its places and people.<\/p>\n<p><strong>DEAD<\/strong> (killed by the
        doppelganger posing as the king of Othiria)<\/p>\n","entry_parsed":"\n<p>Callum
        was born in\u00a0<a href=\"http:\/\/dnd.jpayne.ch\/index.php?title=Craic&amp;action=edit&amp;redlink=1\">Craic<\/a>\u00a0and
        grew up travelling the country of\u00a0<a href=\"http:\/\/dnd.jpayne.ch\/index.php?title=Thasslia\">Thasslia<\/a>\u00a0to
        know its places and people.<\/p>\n<p><strong>DEAD<\/strong> (killed by the
        doppelganger posing as the king of Othiria)<\/p>\n","image":"characters\/JlK2iyrQQbaSiMQ7UuU78SxnadEGqlEeoVVE5RqE.jpeg","focus_x":null,"focus_y":null,"image_full":"https:\/\/images.kanka.io\/user\/AEfuiTIvwiWBHVQ1GoDzeH1SVME=\/smart\/src\/characters%2FJlK2iyrQQbaSiMQ7UuU78SxnadEGqlEeoVVE5RqE.jpeg?webpfallback","image_thumb":"https:\/\/images.kanka.io\/user\/39hkTyhasC8Q9_wqsIoPL6801Tg=\/40x40\/smart\/src\/characters%2FJlK2iyrQQbaSiMQ7UuU78SxnadEGqlEeoVVE5RqE.jpeg?webpfallback","has_custom_image":true,"header_full":"","has_custom_header":false,"is_private":false,"is_template":false,"entity_id":557,"tags":[],"created_at":"2017-11-15T21:26:52.000000Z","created_by":null,"updated_at":"2020-01-09T15:42:00.000000Z","updated_by":1,"location_id":934,"title":"King
        of Thasslia","age":"41","sex":"Male","pronouns":null,"race_id":162,"type":null,"family_id":76,"is_dead":true,"traits":[{"id":1446,"name":"Traits","entry":"Fiery
        spirit","section":"personality","default_order":0},{"id":1447,"name":"Goals","entry":"Solidify
        his rule over Thasslia","section":"personality","default_order":0},{"id":1448,"name":"Mannerisms","entry":"Will
        often refer to his \"rightful claim\"","section":"personality","default_order":0}],"is_personality_visible":true},{"id":4107,"name":"Lex","entry":"\n<p><strong>Lex
        White\u00a0<\/strong>is an male elf that lives in\u00a0[location:2048]\u00a0and
        works as a master cleric of the\u00a0[location:12082]\u00a0under the direct
        orders of the King of\u00a0[location:2046],\u00a0[tag:23449]\u00a0and a member
        of the\u00a0[organisation:27479].<\/p>\n<p>Lex sacrificed himself to save
        Pelor from a ritual conducted by the\u00a0[organisation:12188]\u00a0aimed
        at destroying Pelor''s channel to the material plane. He was later brought
        back to life on the 23rd of Sikor 1023 AE by his brother [character:12049],
        Princess\u00a0[character:12050]\u00a0and others who performed a [note:12218]\u00a0at
        the Temple of Life in Arburg.<\/p>\n<h2><a id=\"backstory\"><\/a>Backstory<\/h2>\n<h3>Early
        Years<\/h3>\n<p><strong>Tell me where you see this character as a child? What
        does their home look like?<\/strong><\/p>\n<p>\u00a0<\/p>\n<p><span style=\"font-weight:400;\"><strong>Who
        else is in the home? Any animals or pets?<\/strong><\/span><\/p>\n<p>\u00a0<\/p>\n<p><strong>And
        the area. Where is your home? Is it a village? A farm? A city? Something else<\/strong><\/p>\n<p>\u00a0<\/p>\n<p><strong>What
        does your family do to make money?<\/strong><\/p>\n<p>\u00a0<\/p>\n<p><span
        style=\"font-weight:400;\"><strong>How religious are you and your family?<\/strong><\/span><\/p>\n<p>\u00a0<\/p>\n<p><strong>Tell
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: http://kanka.io/api/1.0/campaigns/1/characters?page=2
  response:
    body:
      string: ''
    headers:
      Location:
      - https://kanka.io/api/1.0/campaigns/1/characters?page=2
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/characters?page=2
  response:
    body:
      string: '{"data":[{"id":4211,"name":"Bedyw Browler","entry":"\n<p>Son of\u00a0<a
        href=\"https:\/\/kanka.io\/en\/campaign\/1\/characters\/4209\">Harryi Browler<\/a>\u00a0and\u00a0<a
        href=\"https:\/\/kanka.io\/en\/campaign\/1\/characters\/4210\">Arian Browler<\/a>.<\/p>\n","entry_parsed":"\n<p>Son
        of\u00a0<a href=\"https:\/\/kank[...]
[...]
