interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities
  response:
    body:
      string: '{"data":[{"id":557,"name":"Callum Pryde","type":"character","child_id":715,"tags":[],"is_private":false,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2017-12-02T11:08:12.000000Z","created_by":null,"updated_at":"2020-01-09T15:42:00.000000Z","updated_by":1},{"id":927,"name":"Stellar","type":"family","child_id":13,"tags":[],"is_private":false,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2017-12-02T11:08:12.000000Z","created_by":null,"updated_at":"2017-12-02T11:08:12.000000Z","updated_by":null},{"id":983,"name":"Rosenberg","type":"family","child_id":74,"tags":[],"is_private":false,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: http://kanka.io/api/1.0/campaigns/1/entities?page=2
  response:
    body:
      string: ''
    headers:
      Location:
      - https://kanka.io/api/1.0/campaigns/1/entities?page=2
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities?page=2
  response:
    body:
      string: '{"data":[{"id":12032,"name":"Ebenkorben","type":"location","child_id":5152,"tags":[],"is_private":false,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2018-04-03T19:07:54.000000Z","created_by":null,"updated_at":"2018-05-08T09:40:00.000000Z","updated_by":null},[...]
[...]
