interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/maps
  response:
    body:
      string: '{"data":[{"id":8,"name":"Thaelia","entry":null,"entry_parsed":null,"image":"maps\/0qysXcbM9pRbNbdwiIZo7dIETWAtDjXQje0ocLPT.png","focus_x":null,"focus_y":null,"image_full":"https:\/\/images.kanka.io\/user\/MxA8qSpfuHww0r-yRKpkFoIXG0I=\/smart\/src\/maps%2F0qysXcbM9pRbNbdwiIZo7dIETWAtDjXQje0ocLPT.png?webpfallback","image_thumb":"https:\/\/images.kanka.io\/user\/R-ysTJCXGUq9EUF7NzLGw2o67E8=\/40x40\/smart\/src\/maps%2F0qysXcbM9pRbNbdwiIZo7dIETWAtDjXQje0ocLPT.png?webpfallback","has_custom_image":true,"header_full":"","has_custom_header":false,"is_private":false,"is_template":false,"entity_id":838405,"tags":[],"created_at":"2020-07-22T11:22:57.000000Z","created_by":1,"updated_at":"2021-06-08T12:13:44.000000Z","updated_by":1,"location_id":5122,"type":"Continent","height":4678,"width":4696,"map_id":null,"grid":0,"min_zoom":-2,"max_zoom":2.75,"initial_zoom":0,"center_marker_id":null,"center_x":null,"center_y":null,"layers":[],"groups":[{"created_at":"2020-07-31T08:50:20.000000Z","created_by":1,"id":1,"is_private":false,"is_shown":true,"map_id":8,"name":"Capitals","position":1,"updated_at":"2020-07-31T08:50:20.000000Z","updated_by":null,"visibility":"all"}]},{"id":2046,"name":"North
        Medina","entry":"<p>Map of the northern part of the continent of [location:28174].<\/p>","entry_parsed":"<p>Map
        of the northern part of the continent of <a href=\"https:\/\/kanka.io\/en-US\/campaign\/1\/locations\/10906\"
        class=\"entity-mention\" data-entity-tags=\"\" data-toggle=\"tooltip-ajax\"
        data-id=\"28174\" data-url=\"https:\/\/kanka.io\/en-US\/campaign\/1\/entities\/28174\/tooltip\">Medina<\/a>.<\/p>","image":"maps\/5tRcE8[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/838405
  response:
    body:
      string: '{"data":{"id":838405,"name":"Thaelia","type":"map","child_id":8,"tags":[],"is_private":false,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":"\n\n","header_image":null,"image_uuid":null,"created_at":"2020-07-22T11:22:57.000000Z","created_by":1,"updated_at":"2021-03-24T20:28:27.000000Z","updated_by":1,"child":{"id":8,"name":"Thaelia","entry":null,"entry_parsed":null,"image":"maps\/0qysXcbM9pRbNbdwiIZo7dIETWAtDjXQje0ocLPT.png","focus_x":null,"focus_y":null,"image_full":"https:\/\/images.kanka.io\/user\/MxA8qSpfuHww0r-yRKpkFoIXG0I=\/smart\/src\/maps%2F0qysXcbM9pRbNbdwiIZo7dIETWAtDjXQje0ocLPT.png?webpfallback","image_thumb":"https:\/\/images.kanka.io\/user\/R-ysTJCXGUq9EUF7NzLGw2o67E8=\/40x40\/smart\/src\/maps%2F0qysXcbM9pRbNbdwiIZo7dIETWAtDjXQje0ocLPT.png?webpfallback","has_custom_image":true,"header_full":"","has_custom_header":false,"is_private":false,"is_template":false,"entity_id":838405,"tags":[],"created_at":"2020-07-22T11:22:57.000000Z","created_by":1,"updated_at":"2021-06-08T12:13:44.000000Z","updated_by":1,"location_id":5122,"type":"Continent","height":4678,"width":4696,"map_id":null,"grid":0,"min_zoom":-2,"max_zoom":2.75,"initial_zoom":0,"center_marker_id":null,"center_x":null,"center_y":null,"layers":[],"groups":[{"created_at":"2020-07-31T08:50:20.000000Z","created_by":1,"id":1,"is_private":false,"is_shown":true,"map_id":8,"name":"Capitals","position":1,"updated_at":"2020-07-31T08:50:20.000000Z","updated_by":null,"visibility":"all"}]}}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '82'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/entities/838405
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
[...]
