interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/abilities
  response:
    body:
      string: '{"data":[{"id":1550,"name":"Classes","entry":null,"entry_parsed":null,"image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/abilities_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":false,"is_template":false,"entity_id":634073,"tags":[],"created_at":"2020-04-25T07:28:54.000000Z","created_by":1,"updated_at":"2021-06-08T12:56:18.000000Z","updated_by":1,"type":"Class
        Features","ability_id":null,"charges":null,"abilities":[1551,1552,1553,1554]},{"id":1551,"name":"Rogue","entry":"\n<p><strong><span
        class=\"Serif-Character-Style_Bold-Serif\">Armor<\/span><span class=\"Serif-Character-Style_Bold-Serif\">:<\/span><\/strong>\u00a0Light
        armor<br \/><strong><span class=\"Serif-Character-Style_Bold-Serif\">Weapons:<\/span><\/strong>\u00a0Simple
        weapons, hand crossbows, longswords, rapiers, shortswords<br \/><strong><span
        class=\"Serif-Character-Style_Bold-Serif\">Tools:\u00a0<\/span><\/strong>Thieves\u2019
        tools<br \/><strong><span class=\"Serif-Character-Style_Bold-Serif\">Saving
        Throws:\u00a0<\/span><\/strong>Dexterity, Intelligence<br \/><strong><span
        class=\"Serif-Character-Style_Bold-Serif\">Skills:\u00a0<\/span><\/strong>Choose
        four from Acrobatics, Athletics, Deception, Insight, Intimidation, Investigation,
        Perception, Performance, Persuasion, Sleight of Hand, and Stealth<\/p>\n","entry_parsed":"\n<p><strong><span
        class=\"Serif-Character-Style_Bold-Serif\">Armor<\/span><span class=\"Serif-Character-Style_Bold-Serif\">:<\/span><\/strong>\u00[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/634073
  response:
    body:
      string: '{"data":{"id":634073,"name":"Classes","type":"ability","child_id":1550,"tags":[],"is_private":false,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":"\n\n","header_image":null,"image_uuid":null,"created_at":"2020-04-25T07:28:54.000000Z","created_by":1,"updated_at":"2020-04-25T07:38:12.000000Z","updated_by":1,"child":{"id":1550,"name":"Classes","entry":null,"entry_parsed":null,"image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/abilities_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":false,"is_template":false,"entity_id":634073,"tags":[],"created_at":"2020-04-25T07:28:54.000000Z","created_by":1,"updated_at":"2021-06-08T12:56:18.000000Z","updated_by":1,"type":"Class
        Features","ability_id":null,"charges":null,"abilities":[1551,1552,1553,1554]}}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '57'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/entities/634073
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
[...]
