interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/families
  response:
    body:
      string: '{"data":[{"id":13,"name":"Stellar","entry":"<p>Hallo<\/p>\n\n<p>Dicki<\/p>","entry_parsed":"<p>Hallo<\/p>\n\n<p>Dicki<\/p>","image":"families\/ckwPJdURpnJhgoAtN0Xc9BMwFI6Mg7geLjKwmXMC.jpeg","focus_x":null,"focus_y":null,"image_full":"https:\/\/images.kanka.io\/user\/0eqK12prFmQm4mb_t5C76hrtBSs=\/smart\/src\/families%2FckwPJdURpnJhgoAtN0Xc9BMwFI6Mg7geLjKwmXMC.jpeg?webpfallback","image_thumb":"https:\/\/images.kanka.io\/user\/XnidUWhqAwKtqSmh0x020rhFjMA=\/40x40\/smart\/src\/families%2FckwPJdURpnJhgoAtN0Xc9BMwFI6Mg7geLjKwmXMC.jpeg?webpfallback","has_custom_image":true,"header_full":"","has_custom_header":false,"is_private":false,"is_template":false,"entity_id":927,"tags":[],"created_at":"2017-11-10T20:11:12.000000Z","created_by":null,"updated_at":"2021-06-08T12:27:39.000000Z","updated_by":null,"location_id":null,"type":null,"family_id":null,"members":[]},{"id":74,"name":"Rosenberg","entry":"<p><strong>House
        Rosenberg of Arcastle<\/strong>\u00a0is a Great House of Thaelia, ruling over
        the kingdom of Ardenfrom their seat in Arcastle, recently attacked by House
        MacPhaiden of Othiria It is the founding family of the kingdom of Arden, and
        has rules for over 800 years. The head of the house if lord Maximus von Rosenberg.<\/p>\n\n<p>Sigfrid
        von Rosenberg rebelled against\u00a0<a href=\"http:\/\/dnd.jpayne.ch\/index.php?title=Orlene\">Orlene<\/a>rule
        in[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/927
  response:
    body:
      string: '{"data":{"id":927,"name":"Stellar","type":"family","child_id":13,"tags":[],"is_private":false,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2017-12-02T11:08:12.000000Z","created_by":null,"updated_at":"2017-12-02T11:08:12.000000Z","updated_by":null,"child":{"id":13,"name":"Stellar","entry":"<p>Hallo<\/p>\n\n<p>Dicki<\/p>","entry_parsed":"<p>Hallo<\/p>\n\n<p>Dicki<\/p>","image":"families\/ckwPJdURpnJhgoAtN0Xc9BMwFI6Mg7geLjKwmXMC.jpeg","focus_x":null,"focus_y":null,"image_full":"https:\/\/images.kanka.io\/user\/0eqK12prFmQm4mb_t5C76hrtBSs=\/smart\/src\/families%2FckwPJdURpnJhgoAtN0Xc9BMwFI6Mg7geLjKwmXMC.jpeg?webpfallback","image_thumb":"https:\/\/images.kanka.io\/user\/XnidUWhqAwKtqSmh0x020rhFjMA=\/40x40\/smart\/src\/families%2FckwPJdURpnJhgoAtN0Xc9BMwFI6Mg7geLjKwmXMC.jpeg?webpfallback","has_custom_image":true,"header_full":"","has_custom_header":false,"is_private":false,"is_template":false,"entity_id":927,"tags":[],"created_at":"2017-11-10T20:11:12.000000Z","created_by":null,"updated_at":"2021-06-08T12:27:39.000000Z","updated_by":null,"location_id":null,"type":null,"family_id":null,"members":[]}}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '88'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/entities/927
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "Adams", "entry": "<p>Lorem Ipsum.</p>", "tags": [], "is_private":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://kanka.io/api/1.0/campaigns/1/families/
  response:
    body:
      string: '{"data":{"id":71059,"name":"Adams","entry":"<p>Lorem Ipsum.<\/p>","entry_parsed":"<p>Lorem
        Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/families_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2196112,"tags":[],"created_at":"2021-09-30T13:46:09.000000Z","created_by":88716,"updated_at":"2021-09-30T13:46:09.000000Z","updated_by":88716,"location_id":null,"type":null,"family_id":null,"members":[]}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '78'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/families/
      x-varnish-host:
      - hzn-fre1
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/families/71059
  response:
    body:
      string: '{"data":{"id":71059,"name":"Adams","entry":"<p>Lorem Ipsum.<\/p>","entry_parsed":"<p>Lorem
        Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/families_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2196112,"tags":[],"created_at":"2021-09-30T13:46:09.000000Z","created_by":88716,"updated_at":"2021-09-30T13:46:09.000000Z","updated_by":88716,"location_id":null,"type":null,"family_id":null,"members":[]}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '76'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/families/71059
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://kanka.io/api/1.0/campaigns/1/families/71059
  response:
    body:
      string: ''
    headers:
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '74'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/families/71059
      x-varnish-host:
      - hzn-fre1
    status:
      code: 204
      message: No Content
version: 1
