interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/journals
  response:
    body:
      string: '{"data":[{"id":146,"name":"01 - The Wolves of Arcastle","entry":"\n<p>The
        Wolves of the Forest<\/p>\n<h1>Setup<\/h1>\n<p>The party find themselves in
        the Grim Forest.<\/p>\n<p>\u00a0<\/p>\n<p><strong>\u00c1ki, Wolf, Lex <\/strong>and
        <strong>Auron <\/strong>have been asked by the King to protect the Princess.
        He also asks them \u201c<em>Help her realise that life in the castle is better
        and safer for her than life in the wilderness.<\/em>\u201d<\/p>\n<p>\u00a0<\/p>\n<p><strong>\u00c1ki
        <\/strong>and <strong>Wolf <\/strong>are in Wolf\u2019s house, when the party
        comes and get them. <strong>Lex<\/strong> proposes that they ask for <strong>Wolf<\/strong>\u2019s
        help.<\/p>\n<p><strong>Hildegard <\/strong>goes to the forest to prove to
        her father that she can be independant. Her father asks h[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/journals?page=2
  response:
    body:
      string: '{"data":[{"id":1039,"name":"45 - Welcome to the Feywild","entry":"\n<h4>Goal<\/h4>\n<ul><li>Travel
        to the Feywild and explore it. Find info about where the girl is.<\/li>\n<\/ul><p><strong>Setup
        \/ Recap<\/strong><\/p>\n<p>Gave the children to\u00a0[character:27992]. Travelled
        to the\u00a0[location:28021]\u00a0and defeated some beasts, \"activating\"
        the portal.<\/p>\n<p><strong>Locations<\/strong><\/p>\n<ul><li>[location:28021]\n<ul><li>The
        portal seems to be activated, but anyone trying to use it makes a WIS saving
        throw and takes 6d8 f[...]
