interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/locations
  response:
    body:
      string: '{"data":[{"id":928,"name":"Arden","entry":"\n<p><strong>Arden<\/strong>,
        officially the\u00a0<strong>Kingdom of Arden,<\/strong>\u00a0is an independent
        kingdom and sovereign state located on the continent of\u00a0[location:12006]\u00a0to
        the Est, with has long been a political ally of the kingdom, the kingdoms
        of\u00a0<a title=\"The\u00a0Kingdom of Othiria\u00a0is an independent kingdom
        on Thaelia. It''s capital is\u00a0Drunah\u00a0while its biggest city is\u00a0Redford.
        The kingdom is situated on the m[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: http://kanka.io/api/1.0/campaigns/1/locations?page=2
  response:
    body:
      string: ''
    headers:
      Location:
      - https://kanka.io/api/1.0/campaigns/1/locations?page=2
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/locations?page=2
  response:
    body:
      string: '{"data":[{"id":5177,"name":"Enida","entry":"\n<p>Enida is the capital
        of the Three Rivers Federation. It is located off the Silver Coast and the
        Enideren estuary.<\/p>\n<h2>Known For<\/h2>\n<p>The city used to control the
        Blacksun, a brutal mercenary band that was disbanded.<\/p>\n","entry_parsed":"\n<p>Enida
        is the capital of the Three Rivers Federation. It is located off the Silver
        Coast and the Enideren estuary.<\/p>\n<h2>Known For<\/h2>\n<p>The city used
        to control the Blacksun, a brutal mercenary band that was disbanded.<\/p>\n","image":"locations\/dxsIPNV6tORe7VSBDbfm7Nvhwld9OHpJtmc9AKoN.jpeg","focus_x":null,"focus_y":null,"image_full":"https:\/\/images.kanka.io\/user\/gpInTKg4biI-SsechTbTekknOkQ=\/smart\/src\/locations%2FdxsIPNV6tORe7VSBDbfm7Nvhwld9OHpJtmc9AKoN.jpeg?webpfallback","image_thumb":"https:\/\/images.kanka.io\/user\/0-tlir89A8Ld2z_KfumdAvzNyJ8=\/40x40\/smart\/src\/locations%2FdxsIPNV6tORe7VSBDbfm7Nvhwld9OHpJtmc9AKoN.jpeg?webpfallback","has_custom_image":true,"header_full":"","has_custom_header":false,"is_private":false,"is_template":false,"entity_id":12125,"tags":[],"created_at":"2018-04-04T08:56:41.000000Z","created_by":null,"updated_at":"2021-08-19T10:06:20.000000Z","updated_by":1,"type":"Capital","map":"https:\/\/images.kanka.io\/user\/JomYweBw5-xiRShshUEd15xY8es=\/40x40\/smart\/src\/campaigns%2F1%2F811c11fb-e24c-49e5-b4d2-f94b6cb120a2.jpeg?webpfallback","is_map_private":0,"parent_location_id":5129},{"id":5178,"name":"Newport","entry":"\n<p><strong>Newport<\/strong>
        is the second biggest city in the\u00a0<a href=\"https:\/\/kanka.io\/en\/campaign\/1\/locations\/5129\">Three
        Rivers Federation<\/a>\u00a0and capital of the province of Glanton.<\/p>\n<h2>Topology<\/h2>\n<p>The
        city is located by the see, with the Nornwood River splitting the city in
        two sides. The southern side used to be a march, and is very humid. The northern
        part is part hills, [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/locations?page=3
  response:
    body:
      string: '{"data":[{"id":9096,"name":"Frynian Mountains","entry":"\n<p>The\u00a0<strong>Frynian
        Mountains<\/strong>, also known as the\u00a0<strong>Elder''s Rest<\/strong>
        in <a title=\"Frynia, also known as the Elvish Kingdom, is a theocracy on
        the continent of Thaelia. It''s capital and biggest city is Aavoch. The kingdom
        is very isolationist and doesn''t interact with other entities. Demographics
        The population is estimated at abou...\" href=\"https:\/\/kanka.io\/en\/campaign\/1\/locations\/5125\"
        data-toggle=\"tooltip\">Frynia<\/a>, is\u00a0a mountain range that runs through
        the Echellan peninsula. The northen sides of the mountains drop percipitously
        into the Restless Sea and Krehl Ocean. To the west, they form the border between
        Frynia and Mithlir.<\/p>\n<p>The mountains are not very high, but are very
        steep at places. The highest peaks are El-Fran\u00e7as at 2''360 meters and
        Perelle at 2''311 meters.<\/p>\n<p>\u00a0<\/p>\n<h3>History<\/h3>\n\n","entry_parsed":"\n<p>The\u00a0<strong>Frynian
        Mountains<\/strong>, also known as the\u00a0<strong>Elder''s Rest<\/strong>
        in <a title=\"Frynia, also known as the Elvish Kingdom, is a theocracy on
        the continent of Thaelia. It''s capital and biggest city is Aavoch. The kingdom
        is very isolationist and doesn''t interact with other entities. Demographics
        The population is estimated at abou...\" href=\"https:\/\/kanka.io\/en\/campaign\/1\/loc[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/locations?page=4
  response:
    body:
      string: '{"data":[{"id":10684,"name":"Nornwood","entry":"\n<p><span style=\"font-weight:400;\"><strong>Nornwood<\/strong>
        is a small hamlet of about 150 villagers. The hamlet is peaceful and friendly
        to all races. The city is famous for its wood works which are then shipped
        to Newport and sold worldwide. Recently, the woodcutting camps have been attacked.
        The village itself hasn''t been attacked yet, but people have been disappearing
        while in the forest.<\/span><\/p>\n<h2><strong>Townhall<\/strong><\/h2>\n<p><span
        [...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/2046
  response:
    body:
      string: '{"data":{"id":2046,"name":"Arden","type":"location","child_id":928,"tags":[],"is_private":false,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":"\n\n","header_image":null,"image_uuid":null,"created_at":"2017-12-02T11:08:15.000000Z","created_by":null,"updated_at":"2020-06-09T11:10:51.000000Z","updated_by":1,"child":{"id":928,"name":"Arden","entry":"\n<p><strong>Arden<\/strong>,
        officially the\u00a0<strong>Kingdom of Arden,<\/strong>\u00a0is an independent
        kingdom and sovereign state located on the continent of\u00a0[location:12006]\u00a0to
        the Est, with has long been a political ally of the kingdom, the kingdoms
        of\u00a0<a title=\"The\u00a0Kingdom of Othiria\u00a0is an independent kingdom
        on Thaelia. It''s capital is\u00a0Drunah\u00a0while its biggest city is\u00a0Re[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/2048
  response:
    body:
      string: '{"data":{"id":2048,"name":"Arburg","type":"location","child_id":930,"tags":[],"is_private":false,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2017-12-02T11:08:15.000000Z","created_by":null,"updated_at":"2018-12-15T13:41:23.000000Z","updated_by":1,"child":{"id":930,"name":"Arburg","entry":"\n<p><strong>Arburg\/Arcastle<\/strong>\u00a0is
        the capital and largest city of the [location:2046]. Standing on the\u00a0[location:12031],
        Arburg has been a major settlement for over two centuries.\u00a0<em>Arcastle<\/em>
        was founded by settlers from\u00a0[location:12005]\u00a0following the\u00a0[event:22214].<\/p>\n<p>Recognised
        as the capital of Arden since at least the 8th century, Arburg is home to
        the Ardienian Parliament and the seat of the monarchy in Arden. The city is
        also the annual venue of the General Assembly of the Church of Light, and
        home to national institutions such as the National Library of Arden, the Memorial
        of Thaelia, and the A[...]
[...]
- request:
    body: '{"name": "Mordor", "type": "Kingdom", "tags": [], "is_private": true, "is_map_private":
      0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://kanka.io/api/1.0/campaigns/1/locations/
  response:
    body:
      string: '{"data":{"id":514710,"name":"Mordor","entry":null,"entry_parsed":null,"image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/locations_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2196079,"tags":[],"created_at":"2021-09-30T13:26:05.000000Z","created_by":88716,"updated_at":"2021-09-30T13:26:05.000000Z","updated_by":88716,"type":"Kingdom","map":"https:\/\/kanka.io\/images\/defaults\/patreon\/locations_thumb.png","is_map_private":0,"parent_location_id":null}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '71'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/locations/
      x-varnish-host:
      - hzn-fre1
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/locations/514710
  response:
    body:
      string: '{"data":{"id":514710,"name":"Mordor","entry":null,"entry_parsed":null,"image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/locations_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2196079,"tags":[],"created_at":"2021-09-30T13:26:05.000000Z","created_by":88716,"updated_at":"2021-09-30T13:26:05.000000Z","updated_by":88716,"type":"Kingdom","map":"https:\/\/kanka.io\/images\/defaults\/patreon\/locations_thumb.png","is_map_private":0,"parent_location_id":null}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '69'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/locations/514710
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "Mordor (revised)", "type": "Kingdom", "tags": [], "is_private":
      true, "is_map_private": 0, "header_full": "", "has_custom_header": false, "map_url":
      "https://kanka.io/images/defaults/patreon/locations_thumb.png"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://kanka.io/api/1.0/campaigns/1/locations/514710
  response:
    body:
      string: '{"data":{"id":514710,"name":"Mordor (revised)","entry":null,"entry_parsed":null,"image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/locations_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2196079,"tags":[],"created_at":"2021-09-30T13:26:05.000000Z","created_by":88716,"updated_at":"2021-09-30T13:26:07.000000Z","updated_by":88716,"type":"Kingdom","map":"https:\/\/images.kanka.io\/user\/84r4DLllaT249VOmHcIkWPNlF0o=\/smart\/src\/locations%2F6155baef3b682_locations-thumbpng.locations-thumbpng?webpfallback","is_map_private":0,"parent_location_id":null}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '68'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/locations/514710
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://kanka.io/api/1.0/campaigns/1/locations/514710
  response:
    body:
      string: ''
    headers:
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '67'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/locations/514710
      x-varnish-host:
      - hzn-fre1
    status:
      code: 204
      message: No Content
version: 1
