interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/notes
  response:
    body:
      string: '{"data":[{"id":6,"name":"Rivandol Nobility","entry":"\n<p>The Nobliliy
        of\u00a0[location:12006]\u00a0is the ruling class of the kingdom. Houses can
        intermarry, but lands can''t be merged.<\/p>\n<p>A leader of a family is elected
        every 9 years to be chancellor of the kingdom. If the leader dies, a successor
        is determined by the chancellor in case this happens.<\/p>\n<h2>Noble Families<\/h2>\n<ul><li>[family:227932]<\/li>\n<li>[family:227931]<\/li>\n<li>[family:227925]<\/li>\n<li>[family:227934]<\/li>\n<li>[family:227941]<\/li>\n<li>[family:12189]<\/li>\n<li>[family:12340]<\/li>\n<li>[family:12179]\u00a0(current
        Chancellor)<\/li>\n<li>[family:227989]<\/li>\n<li>[family:227991]<\/li>\n<\/ul>","entry_parsed":"\n<p>The
        Nobliliy of\u00a0<a href=\"https:\/\/kanka.io\/en-US\/campaign\/1\/locations\/5128\"
        class=\"entity-mention\" data-entity-tags=\"\" data-toggle=\"tooltip-ajax\"
        data-id=\"12006\" data-url=\"https:\/\/kanka.io\/en-US\/campaign\/1\/entities\/12006\/tooltip\">Rivandol<\/a>\u00a0is
        the ruling class of the kingdom. Houses can intermarry, but lands can''t be
        merged.<\/p>\n<p>A leader of a family is elected every 9 years to be chancellor
        of the [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/2263
  response:
    body:
      string: '{"data":{"id":2263,"name":"Rivandol Nobility","type":"note","child_id":6,"tags":[],"is_private":false,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2017-12-02T11:08:15.000000Z","created_by":null,"updated_at":"2019-05-21T13:37:25.000000Z","updated_by":1,"child":{"id":6,"name":"Rivandol
        Nobility","entry":"\n<p>The Nobliliy of\u00a0[location:12006]\u00a0is the
        ruling class of the kingdom. Houses can intermarry, but lands can''t be merged.<\/p>\n<p>A
        leader of a family is elected every 9 years to be chancellor of the kingdom.
        If the leader dies, a successor is determined by the chancellor in case this
        happens.<\/p>\n<h2>Noble Families<\/h2>\n<ul><li>[family:227932]<\/li>\n<li>[family:227931]<\/li>\n<li>[family:22792[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/12218
  response:
    body:
      string: '{"data":{"id":12218,"name":"Divine Revival","type":"note","child_id":313,"tags":[],"is_private":false,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2018-04-04T15:03:25.000000Z","created_by":null,"updated_at":"2018-06-24T16:24:15.000000Z","updated_by":null,"child":{"id":313,"name":"Divine
        Revival","entry":"\n<p><em>6th-level diviniation (ritual)<\/em><\/p>\n<p><strong>Casting<\/strong>
        <strong>Time<\/strong>: 1 hour<br \/><strong>Range<\/strong>: Touch<br \/><strong>Components<\/strong>:
        V, S, M (a diamond worth at least 5000 gp placed on the target''s chest, which
        the spell consumes, and dragon albumen covering the target completely)<br
        \/><strong>Duration<\/strong>: Instantaneous<\/p>\n<p>You return a dead creature
        you touch to life, provided that its body is used as a vessel for a God, and
        that the heart is still beating. If the creature''s soul is both willing and
  [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/12339
  response:
    body:
      string: '{"data":{"id":12339,"name":"Kingdom of Herun","type":"note","child_id":314,"tags":[],"is_private":false,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2018-04-05T14:05:19.000000Z","created_by":null,"updated_at":"2018-04-05T14:05:19.000000Z","updated_by":null,"child":{"id":314,"name":"Kingdom
        of Herun","entry":"\n<div>\n<div>\n<div>\n<div>\n<p>The <strong>Kingdom of
        Herun<\/strong> was a kingdom of <a href=\"https:\/\/kanka.io\/en\/campaign\/1\/locations\/5122\">Thaelia<\/a>\u00a0that
        split in two kingdoms in 881 AC when the brothers of House Herun formed the
        Kingdom of <a href=\"https:\/\/kanka.io\/en\/campaign\/1\/locations\/934\">Thasslia<\/a>\u00a0and
        the Kingdom of <a href=\"https:\/\/kanka.io\/en\/campaign\/1\/locations\/933\">Othiria<\/a>.<\/p>\n<h2>Claimants<\/h2>\n<ul>[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/21901
  response:
    body:
      string: '{"data":{"id":21901,"name":"Main Entities","type":"note","child_id":556,"tags":[],"is_private":false,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":"","header_image":null,"image_uuid":null,"created_at":"2018-05-22T10:18:51.000000Z","created_by":null,"updated_at":"2020-10-04T08:40:09.000000Z","updated_by":1,"child":{"id":556,"name":"Main
        Entities","entry":"<h4>Primary Entities<\/h4><ul><li>[location:12000]\n<ul><li>[location:2046]\u00a0(kingdom)\n<ul><li>[location:2048]\u00a0(capital)\n<ul><li>[character:12073]\u00a0(spymaster)<\/li>\n<li>[character:12054]\u00a0von\u00a0[family:983]\u00a0(king)<\/li>\n<li>[location:12082]\u00a0(Pelor''s
        temple)<\/li>\n<\/ul><\/li>\n<\/ul><\/li>\n<\/ul><\/li>\n<li>[location:96249]\u00a0(islands)\n<ul><li>[location:96254]\u00a0(island)\n<ul><li>[location:96258]<\/li>\n<li>[location:96649]<\/li><\/ul><\/li><\/ul>[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/25638
  response:
    body:
      string: '{"data":{"id":25638,"name":"States","type":"note","child_id":635,"tags":[],"is_private":false,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2018-06-10T09:07:01.000000Z","created_by":null,"updated_at":"2018-06-10T09:07:01.000000Z","updated_by":null,"child":{"id":635,"name":"States","entry":"\n<h3>Kingdoms<\/h3>\n<ul><li>[location:2046],\u00a0<a
        title=\"Arburg\/Arcastle\u00a0is the capital city of\u00a0Arden, located in
        the\u00a0Arden\u00a0province on the\u00a0Maiden Plains, on the west of the
        continent of\u00a0Thaelia. It is the most populated city of\u00a0Arden. Arburg
        expands upon the\u00a0Leibal River. Recognised as the capital...\" href=\"https:\/\/kanka.io\/en\/campaign\/1\/locations\/930\"
        data-toggle=\"tooltip\">Arburg<\/a><\/li>\n<li><a tit[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/27498
  response:
    body:
      string: '{"data":{"id":27498,"name":"Atlas Stone","type":"note","child_id":680,"tags":[],"is_private":false,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2018-06-22T15:43:16.000000Z","created_by":null,"updated_at":"2018-06-22T15:43:16.000000Z","updated_by":null,"child":{"id":680,"name":"Atlas
        Stone","entry":"\n<h1><span style=\"font-weight:400;\">Legend<\/span><\/h1>\n<p><span
        style=\"font-weight:400;\">The Atlas Stone statue is a mythical item whose
        existence is not known, but mentioned in the old tales and books. The statue
        is said to be made of pure gold, with the Atlas said to be made out of pure
        black Diamond. The statue measure 1m10 in height, 230 kilos of weight, and
        cannot be destroyed.<\/span><\/p>\n<p><span style=\"font-weight:400;\">The
        statue was commi[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/28094
  response:
    body:
      string: '{"data":{"id":28094,"name":"Ichodas","type":"note","child_id":717,"tags":[],"is_private":false,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2018-06-25T10:37:10.000000Z","created_by":null,"updated_at":"2018-06-25T10:37:10.000000Z","updated_by":null,"child":{"id":717,"name":"Ichodas","entry":"\n<p><strong>Ichodas<\/strong>
        is the bigger of the two moons visible from the Material Plane. The smaller
        moon is\u00a0<a title=\"Nafren is the smaller of the two moons visible at
        night on the material plane. The bigger moon is\u00a0Ichodas.\" href=\"https:\/\/kanka.io\/en\/campaign\/1\/notes\/718\"
        data-toggle=\"tooltip\">Nafren<\/a>.<\/p>\n","entry_parsed":"\n<p><strong>Ichodas<\/strong>
        is the bigger of the two moons visible from the Material Plane. The smaller
        moon is\u00a0<a title=\"Nafren is the smaller of the two moons visible at
        night on the material plane. The bigger moon is\u00a0Ichodas.\" href=\"https:\/\/kanka.io\/en\/campaign\/1\/notes\/718\"
        data-toggle=\"tooltip\">Nafren<\/a>.<\/p>\n","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/notes_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":false,"is_template":false,"entity_id":28094,"tags":[],"created_at":"2018-06-25T10:37:10.000000Z","created_by":null,"updated_at":"2021-06-08T12:59:38.000000Z","updated_by":null,"type":"Moon","note_id":null,"is_pinned":0}}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '82'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/entities/28094
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "Legends of the World", "entry": "<p>Lorem Ipsum.</p>", "type":
      "Lore", "tags": [], "is_private": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://kanka.io/api/1.0/campaigns/1/notes/
  response:
    body:
      string: '{"data":{"id":122960,"name":"Legends of the World","entry":"<p>Lorem
        Ipsum.<\/p>","entry_parsed":"<p>Lorem Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/notes_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2236635,"tags":[],"created_at":"2021-10-14T01:26:46.000000Z","created_by":88716,"updated_at":"2021-10-14T01:26:46.000000Z","updated_by":88716,"type":"Lore","note_id":null,"is_pinned":0}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '78'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/notes/
      x-varnish-host:
      - hzn-fre1
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/notes/122960
  response:
    body:
      string: '{"data":{"id":122960,"name":"Legends of the World","entry":"<p>Lorem
        Ipsum.<\/p>","entry_parsed":"<p>Lorem Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/notes_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2236635,"tags":[],"created_at":"2021-10-14T01:26:46.000000Z","created_by":88716,"updated_at":"2021-10-14T01:26:46.000000Z","updated_by":88716,"type":"Lore","note_id":null,"is_pinned":0}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '76'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/notes/122960
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://kanka.io/api/1.0/campaigns/1/notes/122960
  response:
    body:
      string: ''
    headers:
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '70'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/notes/122960
      x-varnish-host:
      - hzn-fre1
    status:
      code: 204
      message: No Content
version: 1
