interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/organisations
  response:
    body:
      string: '{"data":[{"id":833,"name":"Nameless Immortals","entry":"\n<p>The Nameless
        Immortals are an organisation of mages and magicians. They operate mostly
        in the city of <a href=\"https:\/\/kanka.io\/en\/campaign\/1\/locations\/932\">Rosen<\/a>\u00a0of
        the Kingdom of\u00a0<a href=\"https:\/\/kanka.io\/en\/campaign\/1\/locations\/928\">Arden<\/a><\/p>\n<p>The
        Faction''s goals is to further the study of revival magic to unlock Immortality.
        They reject the ban necromancy, considering it counter to their goals.<\/p>\n<p>They
        hold great power in Rosen, where every person working in health (hospitals
        and morgues) must be a member of the organisation.<\/p>\n<h2>Leader<\/h2>\n<p>The
        organisation is lead by a dwarf named\u00a0<a href=\"http:\/\/dnd.loc\/index.php\/Bjorn_Yronfoot\">Bjorn
        Yronfoot<\/a>, nicknames \"Brother Fyt\". He starts every conversation with
        \"Any deceased friends recently?\" and will gladly pay for \"taking care\"
        of them.<\/p>\n<h2>History<\/h2>\n<p>They will revive their dead members with
        necromancy, trying to revive them as normal people. The Nameless Immortals
        will also kidnap recently dead people (corpses recently buried) to try experiments
        on them.<\/p>\n<p>They have a branch set up in <a href=\"https:\/\/kanka.io\/en\/campaign\/1\/locations\/930\">Arcastle<\/a>\u00a0for
        several years to study the Temple of Life, hoping to unlock it''s secrets
        and history of reviving dead people.<\/p>\n<p>The faction will be suspected
        of kidnapping the\u00a0<a href=\"http:\/\/dnd.loc\/index.php\/Temple_of_Life\">Temple
        of Life<\/a>\u00a0because it will be known that they strive for Immortality
        through Necromancy, and the temple is known as a sanctuary for revival rituals.
        By stealing it, they could study it completely and do whatever they want with
        it.<\/p>\n<h2>Three aspects<\/h2>\n<ul><li>Founded 10 years ago.<\/li>\n<li>Members
        use nicknames.<\/li>\n<li>Headquarters in the city of<\/li>\n<\/ul><h2>Ex-members<\/h2>\n<ul><li><a
        href=\"http:\/\/dnd.loc\/index.php\/Yvonne_Copperears\">Yvonne Copperears<\/a><\/li>\n<\/ul>","entry_parsed":"\n<p>The
        Nameless Immortals are an organisation of mages and magicians. They operate
        mostly in the city of <a href=\"https:\/\/kanka.io\/en\/campaign\/1\/locations\/932\">Rosen<\/a>\u00a0of
        the Kingdom of\u00a0<a href=\"https:\/\/kanka.io\/en\/campaign\/1\/locations\/928\">Arden<\/a><\/p>\n<p>The
        Faction''s goals is to further the study of revival magic to unlock Immortality.
        They reject the ban necromancy, considering it counter to their goals.<\/p>\n<p>[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/12079
  response:
    body:
      string: '{"data":{"id":12079,"name":"Nameless Immortals","type":"organisation","child_id":833,"tags":[],"is_private":false,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2018-04-03T20:08:47.000000Z","created_by":null,"updated_at":"2018-04-03T20:08:47.000000Z","updated_by":null,"child":{"id":833,"name":"Nameless
        Immortals","entry":"\n<p>The Nameless Immortals are an organisation of mages
        and magicians. They operate mostly in the city of <a href=\"https:\/\/kanka.io\/en\/campaign\/1\/locations\/932\">Rosen<\/a>\u00a0of
        the Kingdom of\u00a0<a href=\"https:\/\/kanka.io\/en\/campaign\/1\/locations\/928\">Arden<\/a><\/p>\n<p>The
        Faction''s goals is to further the study of revival magic to unlock Immortality.
        They reject the ban necromancy, co[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/12085
  response:
    body:
      string: '{"data":{"id":12085,"name":"High Circle","type":"organisation","child_id":834,"tags":[],"is_private":false,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2018-04-03T20:20:29.000000Z","created_by":null,"updated_at":"2018-04-03T20:20:29.000000Z","updated_by":null,"child":{"id":834,"name":"High
        Circle","entry":"\n<p>The High Council is a magocracy, meaning only very powerful
        mages can be invited in. Once a member is invited by the other members, he
        stays there until death. There has only been one incident 130 years ago where
        a member was banished from the Circle for Necromancy.<\/p>\n","entry_parsed":"\n<p>The
        High Council is a magocracy, meaning only very powerful mages can be invited
        in. Once a member is invited by the other members, he stays there until death.
        There has only been one incident 130 years ago where a member was banished
        from the Circle for Necromancy.<\/p>\n","image":"organisations\/G0NYHPkqzsgQUmahgI86y0VrMrNneLtzjlAIqSG6.png","focus_x":null,"focus_y":null,"image_full":"https:\/\/images.kanka.io\/user\/l7SXKW2zJOxNi_xH-q8mIv_7t_o=\/smart\/src\/organisations%2FG0NYHPkqzsgQUmahgI86y0VrMrNneLtzjlAIqSG6.png?webpfallback","image_thumb":"https:\/\/images.kanka.io\/user\/lS640nWDz9hXlUkaWhif0jdOLBc=\/40x40\/smart\/src\/organisations%2FG0NYHPkqzsgQUmahgI86y0VrMrNneLtzjlAIqSG6.png?webpfallback","has_custom_image":true,"header_full":"","has_custom_header":false,"is_private":false,"is_template":false,"entity_id":12085,"tags":[],"created_at":"2018-04-03T20:20:29.000000Z","created_by":null,"updated_at":"2021-06-08T12:25:42.000000Z","updated_by":null,"location_id":5166,"type":"Magocracy","organisation_id":null,"members":[{"character_id":83773,"created_at":"2019-08-12T14:04:31.000000Z","created_by":null,"id":16179,"is_private":false,"organisation_id":834,"role":"Member","updated_at":"2019-08-12T14:04:31.000000Z","updated_by":null}]}}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '76'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/entities/12085
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/21911
  response:
    body:
      string: '{"data":{"id":21911,"name":"Slayers of Kadila","type":"organisation","child_id":1284,"tags":[],"is_private":false,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2018-05-22T11:17:01.000000Z","created_by":null,"updated_at":"2018-05-22T11:17:01.000000Z","updated_by":null,"child":{"id":1284,"name":"Slayers
        of Kadila","entry":"\n<p>The <strong>Slayers of Kadila<\/strong>\u00a0are
        an organisation of slayers and hunters who track down and kill monsters in
        exchange of payment. Most contracts are assigned to five members.<\/p>\n<p>For
        each contract, the organisation takes 10% and the rest is split between members.<\/p>\n<p>Members
        of the organisation are referred to as\u00a0<strong>Slayers<\/strong>.\u00a0<\/p>\n<h4>Death
        on mission<\/h4>\n<p>If a member dies during a mission, it is customary for
        the other members assigned to the mission to renounce on their take of the
        payment and the complete sum is sent to the family of the deceased. This is
        to avoid members killing other members to keep their share.<\/p>\n<p>In the
        event where all members of a mission die, the organisation will take care
        of providing the money for each member''s family.<\/p>\n<h4>Recruitin[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/27084
  response:
    body:
      string: '{"data":{"id":27084,"name":"Snake Fire","type":"organisation","child_id":1568,"tags":[],"is_private":false,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2018-06-19T18:40:34.000000Z","created_by":null,"updated_at":"2018-06-19T18:40:34.000000Z","updated_by":null,"child":{"id":1568,"name":"Snake
        Fire","entry":"\n<p><strong>Snake Fire<\/strong> is a thieve''s guild with
        members and operations in\u00a0[location:2046]\u00a0and\u00a0<a title=\"The\u00a0Kingdom
        of Othiria\u00a0is an independent kingdom on Thaelia. It''s capital is\u00a0Drunah\u00a0while
        its biggest city is\u00a0Redford. The kingdom is situated on the middle southern
        part of Thaelia and borders the\u00a0Kingdom of Dulken,\u00a0Kingdom of Thasslia,\u00a0Repu...\"
        href=\"https:\/\/kanka.io\/en\/campaign\/1\/locations\/933\" data-toggle=\"tooltip\">Othiria<\/a>.<\/p>\n<h3>Known
        For<\/h3>\n<ul><li>Primary business involves:\u00a0<strong>Smuggling drugs:
        hallucinogenic mushrooms<\/strong><\/li>\n<li>Colour:\u00a0<strong>Maroon<\/strong><\/li>\n<li>Symbol:\u00a0<strong>Snake
        &amp; Star<\/strong><\/li>\n<li>Leader:\u00a0<strong>A member of a prominent
        family<\/strong><\/li>\n<li>Members are primarily:\u00a0<strong>Combat veterans<\/strong><\/li>\n<li>Goals
        include:\u00a0<strong>Revenge against a rival band of outlaws<\/strong><\/li>\n<li>Members
        typically arm themselves with:\u00a0<strong>Shortswords<\/strong><\/li>\n<li>Headquarters:\u00a0<strong>A
        tavern<\/strong><\/li>\n<li>The outlaw band is feared or respected by:\u00a0<strong>Woman
        and children<\/strong><\/li>\n<li>The outlaw has:\u00a0<strong>An open shirt
        and a very hairy chest<\/strong><\/li>\n<li>Primary modus operandi involves:\u00a0<strong>Bribery
        of off[...]
[...]
- request:
    body: '{"name": "Tiamat Cultists", "entry": "<p>Lorem Ipsum.</p>", "type": "Kingdom",
      "tags": [], "is_private": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://kanka.io/api/1.0/campaigns/1/organisations/
  response:
    body:
      string: '{"data":{"id":112734,"name":"Tiamat Cultists","entry":"<p>Lorem Ipsum.<\/p>","entry_parsed":"<p>Lorem
        Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/organisations_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2196081,"tags":[],"created_at":"2021-09-30T13:30:20.000000Z","created_by":88716,"updated_at":"2021-09-30T13:30:20.000000Z","updated_by":88716,"location_id":null,"type":"Kingdom","organisation_id":null,"members":[]}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '67'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/organisations/
      x-varnish-host:
      - hzn-fre1
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/organisations/112734
  response:
    body:
      string: '{"data":{"id":112734,"name":"Tiamat Cultists","entry":"<p>Lorem Ipsum.<\/p>","entry_parsed":"<p>Lorem
        Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/organisations_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2196081,"tags":[],"created_at":"2021-09-30T13:30:20.000000Z","created_by":88716,"updated_at":"2021-09-30T13:30:20.000000Z","updated_by":88716,"location_id":null,"type":"Kingdom","organisation_id":null,"members":[]}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '65'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/organisations/112734
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://kanka.io/api/1.0/campaigns/1/organisations/112734
  response:
    body:
      string: ''
    headers:
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '63'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/organisations/112734
      x-varnish-host:
      - hzn-fre1
    status:
      code: 204
      message: No Content
version: 1
