interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/quests
  response:
    body:
      string: '{"data":[{"id":1026,"name":"Ambitious Brother","entry":"\n<p><strong>Ambitious
        Brother<\/strong> is a side quest in\u00a0[location:19591]. It is started
        by investigating into the local thieves guild and asking for some jobs.<\/p>\n<p>[character:27968]\u00a0wants
        his brother [character:27969]\u00a0to be killed and is offering 500 GP for
        the job.<\/p>\n","entry_parsed":"\n<p><strong>Ambitious Brother<\/strong>
        is a side quest in\u00a0<a href=\"https:\/\/kanka.io\/en-US\/campaign\/1\/locations\/7817\"
        class=\"entity-mention\" data-entity-tags=\"\" data-toggle=\"tooltip-ajax\"
        data-id=\"19591\" data-url=\"https:\/\/kanka.io\/en-US\/campaign\/1\/entities\/19591\/tooltip\">Owlchester<\/a>.
        It is started by investigating into the local thieves guild and asking for
        some jobs.<\/p>\n<p><a href=\"https:\/\/kanka.io\/en-US\/campaign\/1\/characters\/9217\"
        class=\"entity-mention\" data-entity-tags=\"\" data-toggle=\"tooltip-ajax\"
        data-id=\"27968\" data-url=\"https:\/\/kanka.io\/en-US\/campaign\/1\/entities\/27968\/tooltip\">Andrew
        Rancent<\/a>\u00a0wants his brother <a href=\"https:\/\/kanka.io\/en-US\/campaign\/1\/characters\/9218\"
        class=\"entity-mention\" data-entity-tags=\"\" data-toggle=\"tooltip-ajax\"
        data-id=\"27969\" data-url=\"https:\/\/kanka.io\/en-US\/campaign\/1\/entities\/27969\/tooltip\">Michael
        Rancent<\/a>\u00a0to be killed and is offering 500 GP for the job.<\/p>\n","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/quests_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":false,"is_template":false,"entity_id":39898,"tags":[],"created_at":"2018-09-10T12:26:12.000000Z","created_by":1,"updated_at":"2019-05-30T11:14:16.000000Z","updated_by":1,"character_id":9217,"type":"Side
        Quest","date":null,"is_completed":true,"quest_id":null,"calendar_id":null,"calendar_year":null,"calendar_month":null,"calendar_day":null,"elements_count":2,"elements":[{"colour":null,"created_at":"2021-04-27T15:38:22.000000Z","created_by":1,"description":"\n\n","description_parsed":"\n\n","entity_id":27968,"id":2455,"is_private":false,"role":null,"updated_at":"2021-04-27T15:38:22.000000Z","updated_by":null,"visibility":"all"},{"colour":null,"created_at":"2021-04-27T15:38:22.000000Z","created_by":1,"description":"\n<p>Target<\/p>\n","description_parsed":"\n<p>Target<\/p>\n","entity_id":27969,"id":2456,"is_private":false,"role":null,"updated_at":"2021-04-27T15:38:22.000000Z","updated_by":null,"visibility":"all"}]},{"id":1027,"name":"Presence
        at the Hospital","entry":"\n<p><strong>Presence at the Hospital<\/strong>
        is a quest in\u00a0[location:19591], where princess\u00a0[character:12050]''s
     [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/39898
  response:
    body:
      string: '{"data":{"id":39898,"name":"Ambitious Brother","type":"quest","child_id":1026,"tags":[],"is_private":false,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2018-09-10T12:26:12.000000Z","created_by":1,"updated_at":"2019-05-30T11:14:16.000000Z","updated_by":1,"child":{"id":1026,"name":"Ambitious
        Brother","entry":"\n<p><strong>Ambitious Brother<\/strong> is a side quest
        in\u00a0[location:19591]. It is started by investigating into the local thieves
        guild and asking for some jobs.<\/p>\n<p>[character:27968]\u00a0wants his
        brother [character:27969]\u00a0to be killed and is offering 500 GP for the
        job.<\/p>\n","entry_parsed":"\n<p><strong>Ambitious Brother<\/strong> is a
        side quest in\u00a0<a href=\"https:\/\/kanka[...]
[...]
- request:
    body: '{"name": "Pelor''s Quest", "entry": "<p>Lorem Ipsum.</p>", "type": "Main",
      "tags": [], "is_private": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://kanka.io/api/1.0/campaigns/1/quests/
  response:
    body:
      string: '{"data":{"id":44405,"name":"Pelor''s Quest","entry":"<p>Lorem Ipsum.<\/p>","entry_parsed":"<p>Lorem
        Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/quests_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2196134,"tags":[],"created_at":"2021-09-30T13:51:38.000000Z","created_by":88716,"updated_at":"2021-09-30T13:51:38.000000Z","updated_by":88716,"character_id":null,"type":"Main","date":null,"is_completed":false,"quest_id":null,"calendar_id":null,"calendar_year":null,"calendar_month":null,"calendar_day":null,"elements_count":0,"elements":[]}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '82'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/quests/
      x-varnish-host:
      - hzn-fre1
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/quests/44405
  response:
    body:
      string: '{"data":{"id":44405,"name":"Pelor''s Quest","entry":"<p>Lorem Ipsum.<\/p>","entry_parsed":"<p>Lorem
        Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/quests_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2196134,"tags":[],"created_at":"2021-09-30T13:51:38.000000Z","created_by":88716,"updated_at":"2021-09-30T13:51:38.000000Z","updated_by":88716,"character_id":null,"type":"Main","date":null,"is_completed":false,"quest_id":null,"calendar_id":null,"calendar_year":null,"calendar_month":null,"calendar_day":null,"elements_count":0,"elements":[]}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '80'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/quests/44405
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://kanka.io/api/1.0/campaigns/1/quests/44405
  response:
    body:
      string: ''
    headers:
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '78'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/quests/44405
      x-varnish-host:
      - hzn-fre1
    status:
      code: 204
      message: No Content
version: 1
