interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/races
  response:
    body:
      string: '{"data":[{"id":162,"name":"Human","entry":null,"entry_parsed":null,"image":"races\/qBrGtQn8Y1XFzsF8DI1nB47peQcaaGFe23GHgmql.jpeg","focus_x":null,"focus_y":null,"image_full":"https:\/\/images.kanka.io\/user\/KSEc2gPL9Nu9NiccDRhNAM-U5RQ=\/smart\/src\/races%2FqBrGtQn8Y1XFzsF8DI1nB47peQcaaGFe23GHgmql.jpeg?webpfallback","image_thumb":"https:\/\/images.kanka.io\/user\/HoHM2mGW7VYsi11RXRC0WHYhN_8=\/40x40\/smart\/src\/races%2FqBrGtQn8Y1XFzsF8DI1nB47peQcaaGFe23GHgmql.jpeg?webpfallback","has_custom_image":true,"header_full":"","has_custom_header":false,"is_private":false,"is_template":false,"entity_id":45494,"tags":[],"created_at":"2018-10-08T10:33:19.000000Z","created_by":1,"updated_at":"2021-06-08T12:33:04.000000Z","updated_by":1,"type":null,"race_id":null},{"id":1190,"name":"Elf","entry":"\n<p>Naming
        convention: French<\/p>\n","entry_parsed":"\n<p>Naming convention: French<\/p>\n","image":"races\/0Z79ImDHsUKS3eWN5PvqUSC2TH1A0VXh9QZYHsJG.jpeg","focus_x":null,"focus_y":null,"image_full":"https:\/\/images.kanka.io\/user\/fEVV5H5WMW2MZg2iCJFTh0TJZIs=\/smart\/src\/races%2F0Z79ImDHsUKS3eWN5PvqUSC2TH1A0VXh9QZYHsJG.jpeg?webpfallback","image_thumb":"https:\/\/images.kanka.io\/user\/jp016l-5a9nvM9vr6YbhsKLaku4=\/40x40\/smart\/src\/races%2F0Z79ImDHsUKS3eWN5PvqUSC2TH1A0VXh9QZYHsJG.jpeg?webpfallback","has_custom_im[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/races?page=2
  response:
    body:
      string: '{"data":[{"id":130657,"name":"Bugbear","entry":null,"entry_parsed":null,"image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/races_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":false,"is_template":false,"entity_id":1440140,"tags":[],"created_at":"2021-02-19T15:02:33.000000Z","created_by":1,"updated_at":"2021-06-08T12:34:00.000000Z","updated_by":1,"type":"Goblinoid","race_id":null},{"id":135830,"name":"Archdevil","entry":null,"entry_parsed":null,"image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/races_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":false,"is_template":false,"entity_id":1503869,"tags":[],"created_at":"2021-03-08T17:35:44.000000Z","created_by":1,"updated_at":"2021-06-08T12:34:00.000000Z","updated_by":1,"type":null,"race_id":null}],"links":{"first":"https:\/\/kanka.io\/api\/1.0\/campaigns\/1\/races?page=1","last":"https:\/\/kanka.io\/api\/1.0\/campaigns\/1\/races?page=2","prev":"https:\/\/kanka.io\/api\/1.0\/campaigns\/1\/races?page=1","next":null},"meta":{"current_page":2,"from":46,"last_page":2,"path":"https:\/\/kanka.io\/api\/1.0\/campaigns\/1\/races","per_page":45,"to":47,"total":47},"sync":"2021-10-14T01:25:48.378796Z"}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '75'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/races?page=2
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/45494
  response:
    body:
      string: '{"data":{"id":45494,"name":"Human","type":"race","child_id":162,"tags":[],"is_private":false,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2018-10-08T11:44:31.000000Z","created_by":1,"updated_at":"2018-10-08T11:44:31.000000Z","updated_by":1,"child":{"id":162,"name":"Human","entry":null,"entry_parsed":null,"image":"races\/qBrGtQn8Y1XFzsF8DI1nB47peQcaaGFe23GHgmql.jpeg","focus_x":null,"focus_y":null,"image_full":"https:\/\/images.kanka.io\/user\/KSEc2gPL9Nu9NiccDRhNAM-U5RQ=\/smart\/src\/races%2FqBrGtQn8Y1XFzsF8DI1nB47peQcaaGFe23GHgmql.jpeg?webpfallback","image_thumb":"https:\/\/images.kanka.io\/user\/HoHM2mGW7VYsi11RXRC0WHYhN_8=\/40x40\/smart\/src\/races%2FqBrGtQn8Y1XFzsF8DI1nB47peQcaaGFe23GHgmql.jpeg?webpfallback","has_custom_image":true,"header_full":"","has_custom_header":false,"is_private":false,"is_template":false,"entity_id":45494,"tags":[],"created_at":"2018-10-08T10:33:19.000000Z","created_by":1,"updated_at":"2021-06-08T12:33:04.000000Z","updated_by":1,"type":null,"race_id":null}}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '74'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/entities/45494
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "Goblin", "entry": "<p>Lorem Ipsum.</p>", "tags": [], "is_private":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://kanka.io/api/1.0/campaigns/1/races/
  response:
    body:
      string: '{"data":{"id":198860,"name":"Goblin","entry":"<p>Lorem Ipsum.<\/p>","entry_parsed":"<p>Lorem
        Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/races_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2236633,"tags":[],"created_at":"2021-10-14T01:25:53.000000Z","created_by":88716,"updated_at":"2021-10-14T01:25:53.000000Z","updated_by":88716,"type":null,"race_id":null}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '64'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/races/
      x-varnish-host:
      - hzn-fre1
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/races/198860
  response:
    body:
      string: '{"data":{"id":198860,"name":"Goblin","entry":"<p>Lorem Ipsum.<\/p>","entry_parsed":"<p>Lorem
        Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/races_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2236633,"tags":[],"created_at":"2021-10-14T01:25:53.000000Z","created_by":88716,"updated_at":"2021-10-14T01:25:53.000000Z","updated_by":88716,"type":null,"race_id":null}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '62'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/races/198860
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://kanka.io/api/1.0/campaigns/1/races/198860
  response:
    body:
      string: ''
    headers:
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '56'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/races/198860
      x-varnish-host:
      - hzn-fre1
    status:
      code: 204
      message: No Content
version: 1
