interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/tags
  response:
    body:
      string: '{"data":[{"id":285,"name":"Religion","entry":null,"entry_parsed":null,"image":"sections\/9QJDU1qWLi8fln9UgF2iIrkqialpudl6tB1AKsTo.png","focus_x":null,"focus_y":null,"image_full":"https:\/\/images.kanka.io\/user\/mabpnt1tA2YmRX2Wo1mbAaChDWQ=\/smart\/src\/sections%2F9QJDU1qWLi8fln9UgF2iIrkqialpudl6tB1AKsTo.png?webpfallback","image_thumb":"https:\/\/images.kanka.io\/user\/7YgAdC7sTsnQr2r3F8H80VkEloA=\/40x40\/smart\/src\/sections%2F9QJDU1qWLi8fln9UgF2iIrkqialpudl6tB1AKsTo.png?webpfallback","has_custom_image":true,"header_full":"","has_custom_header":false,"is_private":false,"is_template":false,"entity_id":23447,"tags":[],"created_at":"2018-05-29T10:58:42.000000Z","created_by":null,"updated_at":"2021-06-08T12:17:22.000000Z","updated_by":null,"type":"Religion","tag_id":null,"colour":null,"entities":[12132,23449]},{"id":286,"name":"Pelor","entry":"\n<p>All
        things related to the God Pelor.<\/p>\n","entry_parsed":"\n<p>All things related
        to the God Pelor.<\/p>\n","image":"sections\/S30BIGbVpErIoLdqo3xyJaIDA0vN3xBwZ6yqixka.png","focus_x":null,"focus_y":null,"image_full":"https:\/\/images.kanka.io\/user\/4B9haNrtTRUYySbPqIRqMlMdjkA=\/smart\/src\/sections%2FS30BIGbVpErIoLdqo3xyJaIDA0vN3xBwZ6yqixka.png?webpfallback","image_thumb":"https:\/\/images.kanka.io\/user\/kzJfNznQxNpjAKlrO[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/23447
  response:
    body:
      string: '{"data":{"id":23447,"name":"Religion","type":"tag","child_id":285,"tags":[],"is_private":false,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2018-05-29T10:58:42.000000Z","created_by":null,"updated_at":"2018-05-29T10:58:42.000000Z","updated_by":null,"child":{"id":285,"name":"Religion","entry":null,"entry_parsed":null,"image":"sections\/9QJDU1qWLi8fln9UgF2iIrkqialpudl6tB1AKsTo.png","focus_x":null,"focus_y":null,"image_full":"https:\/\/images.kanka.io\/user\/mabpnt1tA2YmRX2Wo1mbAaChDWQ=\/smart\/src\/sections%2F9QJDU1qWLi8fln9UgF2iIrkqialpudl6tB1AKsTo.png?webpfallback","image_thumb":"https:\/\/images.kanka.io\/user\/7YgAdC7sTsnQr2r3F8H80VkEloA=\/40x40\/smart\/src\/sections%2F9QJDU1qWLi8fln9UgF2iIrkqialpudl6tB1AKsTo.png?webpfallback","has_custom_image":true,"header_full":"","has_custom_header":false,"is_private":false,"is_template":false,"entity_id":23447,"tags":[],"created_at":"2018-05-29T10:58:42.000000Z","created_by":null,"updated_at":"2021-06-08T12:17:22.000000Z","updated_by":null,"type":"Religion","tag_id":null,"colour":null,"entities":[12132,23449]}}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '68'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/entities/23447
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/96237
  response:
    body:
      string: '{"data":{"id":96237,"name":"Ardenian Heritage","type":"tag","child_id":4340,"tags":[],"is_private":false,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2019-01-06T18:18:51.000000Z","created_by":1,"updated_at":"2019-08-12T14:25:34.000000Z","updated_by":1,"child":{"id":4340,"name":"Ardenian
        Heritage","entry":"\n<p>The\u00a0<strong>Ardenian Heritage<\/strong> is a
        campaign group revolving around the problems facing the Kingdom of\u00a0[location:2046]
        (2016 - present). It takes place 25 years after the [tag:239710] campaign.<\/p>\n","entry_parsed":"\n<p>The\u00a0<strong>Ardenian
        Heritage<\/strong> is a campaign group revolving around the problems facing
        the Kingdom of\u00a0<a href=\"https:\/\/kanka.io\/en-US\/campaign\/1\/locations\/928\"
        class=\"entity-mention\" data-entity-tags=\"\"[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/entities/239710
  response:
    body:
      string: '{"data":{"id":239710,"name":"Carric''s Hope","type":"tag","child_id":19193,"tags":[],"is_private":false,"is_template":false,"campaign_id":1,"is_attributes_private":false,"tooltip":null,"header_image":null,"image_uuid":null,"created_at":"2019-06-01T20:00:05.000000Z","created_by":1,"updated_at":"2019-08-12T13:43:41.000000Z","updated_by":1,"child":{"id":19193,"name":"Carric''s
        Hope","entry":"\n<p><strong>Carric''s Hope<\/strong> was the first campaign
        in the world of Thaelia (2013-2015).<\/p>\n<p><strong>Characters<\/strong><\/p>\n<ul><li>[character:12076]<\/li>\n<li>[character:12073]<\/li>\n<li>[character:239709]<\/li>\n<li>[character:27495]<\/li>\n<li>Sylken<\/li>\n<\/ul>","entry_parsed":"\n<p><strong>Carric''s
        Hope<\/strong> was the first campaign in the world of Thaelia (2013-2015).<\/p>\n<p><strong>Characters<\/strong><\/p>\n<ul><li><a
        href=\"https:\/\/kanka.io\/en-US\/campaign\/1\/characters\/4131\" class=\"entity-mention\"
        data-entity-tags=\"id-19193 carrics-hope id-19260 jessica id-4340 ardenian-he[...]
[...]
- request:
    body: '{"name": "Religion", "entry": "<p>Lorem Ipsum.</p>", "type": "Lore", "colour":
      "green", "is_private": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://kanka.io/api/1.0/campaigns/1/tags/
  response:
    body:
      string: '{"data":{"id":162168,"name":"Religion","entry":"<p>Lorem Ipsum.<\/p>","entry_parsed":"<p>Lorem
        Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/tags_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2236636,"tags":[],"created_at":"2021-10-14T01:27:09.000000Z","created_by":88716,"updated_at":"2021-10-14T01:27:09.000000Z","updated_by":88716,"type":"Lore","tag_id":null,"colour":"green","entities":[]}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.239.188
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '58'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/tags/
      x-varnish-host:
      - hzn-fre1
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://kanka.io/api/1.0/campaigns/1/tags/162168
  response:
    body:
      string: '{"data":{"id":162168,"name":"Religion","entry":"<p>Lorem Ipsum.<\/p>","entry_parsed":"<p>Lorem
        Ipsum.<\/p>","image":null,"focus_x":null,"focus_y":null,"image_full":null,"image_thumb":"https:\/\/kanka.io\/images\/defaults\/patreon\/tags_thumb.png","has_custom_image":false,"header_full":"","has_custom_header":false,"is_private":true,"is_template":false,"entity_id":2236636,"tags":[],"created_at":"2021-10-14T01:27:09.000000Z","created_by":88716,"updated_at":"2021-10-14T01:27:09.000000Z","updated_by":88716,"type":"Lore","tag_id":null,"colour":"green","entities":[]}}'
    headers:
      Content-Type:
      - application/json
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '56'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/tags/162168
      x-varnish-host:
      - hzn-fre1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://kanka.io/api/1.0/campaigns/1/tags/162168
  response:
    body:
      string: ''
    headers:
      x-backend:
      - 116.203.16.49
      x-ratelimit-limit:
      - '90'
      x-ratelimit-remaining:
      - '50'
      x-req-host:
      - kanka.io
      x-req-url:
      - /api/1.0/campaigns/1/tags/162168
      x-varnish-host:
      - hzn-fre1
    status:
      code: 204
      message: No Content
version: 1
